.award-section {
    padding: 88px 0;
}

.award-title {
    font-size: 18px;
    color: #8A8E8F;
    font-weight: 500;
    padding-bottom: 20px;
}

.award-section ul {
    padding: 0 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.award-section ul li {
    padding: 0 15px;
    margin: 0 0 20px 0;
    display: inline-block;
    height: 37px;
}

.award-section ul li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.award-section ul li:before {
    display: none;
}

@media (min-width: 768px) {

    .award-section ul li {
        height: 72px;
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .award-section {
        padding: 100px 0;
    }

    .award-section ul li {
        height: 76px;
    }

}