.box-button {
    padding-top: 70px;
}

.box-content {
    position: relative;
    margin-bottom: 25px;
}

.box-img {
    background-color: #ECECEC;
    height: 274px;
}

.box-img img {
    display: block;
    float: right;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    position: relative;
    padding: 20px 0 0 0;
    color: #232020;
}

.box-text h3 {
    font-size: 22px;
    font-weight: 900;
    padding: 0;
}

.box-text p {
    padding: 3px 0 0 0;
    margin: 0;
    font-size: 16px;
}

.box-text .btn {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .box-button {
        padding-top: 32px;
    }

    .box-content {
        margin-bottom: 32px;
        padding: 60px 50px 40px 50px;
        background-color: #ECECEC;
        height: 397px;
    }

    .box-img {
        background-color: #ECECEC;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 354px;
    }

    .box-text {
        height: 100%;
    }

    .box-text h3 {
        font-size: 30px;
        padding: 0 0 20px 0;
    }
        
    .box-text p {
        font-size: 18px;
    }

    .box-text .btn {
        position: absolute;
        bottom: 0;
    }
    
}

@media (min-width: 1025px) {
    .box-img {
        width: auto;
    }
  
}

@media (min-width: 1200px) {
    .box-button {
        padding-top: 15px;
    }

    .box-img {
        width: 280px;
    }
  
}

@media (min-width: 1366px) {
    .box-img {
        width: 300px;
    }
    .box-content {
        margin-bottom: 0;
        padding: 30px 40px 30px 40px;
        height: 405px;
    }
}


@media (min-width: 1660px) {
    .box-img {
        width: auto;
    }
}


@media (min-width: 1200px) {
    .wishlist-wrapper .box-text {
        width: 290px;
    }

    .wishlist-wrapper .box-content {
        overflow: hidden;
        margin-bottom: 16px;
    }

    .wishlist-wrapper .box-img {
        right: -55px;
        max-width: 360px;
    }

    .wishlist-wrapper .box-text .btn {
        position: absolute;
        bottom: 10px;
    }
    
}





