.cta {
    position: relative;
    padding-top: 60px;
}

.cta-content {
    position: relative;
}

.cat-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cat-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-text {
    position: relative;
    color: #fff;
    padding: 155px 25px 140px 25px;
    background-color: rgba(0,0,0,.31);
}

.cta-text h1 {
    font-size: 36px;
}

.cta-text p {
    font-size: 16px;
    padding: 0 0 20px 0;
    margin: 0;
}

@media (min-width: 768px) {

    .cta {
        padding-top: 66px;
    }

    .cta-text {
        padding: 90px 20px;
    }
        
    .cta-text h1 {
        font-size: 50px;
    }

    .cta-text p {
        font-size: 20px;
    }
}

@media (min-width: 1025px) { 
    .cta {
        padding-top: 80px;
    }

    .cta-text h1 {
        font-size: 70px;
    }
}