.home-product {
    padding-top: 70px;
}

.home-product-text  {
    padding: 30px 24px;
    background-color: #ECECEC;
    color: #232020
}

.home-product-text  h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.home-product-text  p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.product-box {
    position: relative;
    margin-top: 16px;
}

.product-box-img {
    height: 105px;
}

.product-box-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 30px;
}

.product-box-title {
    background-color: #CE182D;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 6px 0;
    line-height: 1.3em;
}

.product-hover p {
    text-align: left;
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 16px;
}

.product-hover span {
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .home-product {
        padding-top: 86px;
    }
    
    .product-box-img {
        height: 148px;
    }

    .home-product-text  h2 {
        font-size: 36px;
    }
    
    .home-product-text  p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .home-product {
        padding-top: 86px;
    }
    .home-product-text {
        margin-top: 16px;
        height: 765px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-box-img {
        height: 374px;
    }

    .product-box-title {
        position: absolute;
        right: 0;
        bottom: 45px;
        color: #fff;
        padding: 10px 15px;
        background-color: #CE182D;
        font-size: 15px;
        font-weight: 900;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .home-product-text  h2 {
        font-size: 42px;
        padding-bottom: 20px;
    }

    .product-hover {
        text-align: center;
    }

    .product-box:hover .product-hover {
        opacity: 1;
    }

    .product-box:hover .product-box-title {
        display: none;
    }
    
    .product-box:hover .product-box-img img {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .product-box:hover .product-box-img::after {
        background-color: rgba(0,0,0,.34);
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

    }

}