.image-button {
    padding-top: 80px;
}

.image-button h2 {
    font-size: 26px;
    color: #232020;
    text-transform: uppercase;
}

.bttn-img {
    background-color: #ECECEC;
    padding: 45px 25px;
    position: relative;
}

.bttn-img img {
    width: 270px;
    display: block;
    margin: 0 auto;
    height: auto;
}

.category {
    position: absolute;
    right: 0;
    bottom: 45px;
    color: #fff;
    padding: 10px 15px;
    background-color: #CE182D;
    font-size: 15px;
    font-weight: 900;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.bttn-item {
    padding-bottom: 15px;
}

.bttn-item a {
    text-decoration: none;
}

.bttn-text {
    padding: 15px 0;
    font-size: 22px;
    font-weight: 900;
    color: #232020;
    text-decoration: none;
}

@media (min-width: 768px) {

    .image-button {
        padding-top: 65px;
    }
    

    .image-button h2 {
        font-size: 44px;
    }

    .bttn-img {
        padding: 30px 25px;
    }

    .category {
        bottom: 25px;
    }

    .bttn-text {
        font-size: 18px;
    }

}


@media (min-width: 1025px) {

    .image-button {
        padding-top: 110px;
    }
    

    .image-button h2 {
        font-size: 42px;
    }

    .bttn-img {
        padding: 90px 25px;
    }

    .category {
        bottom: 63px;
    }

    .bttn-text {
        font-size: 28px;
    }

    .bttn-img img {
        width: auto;
        max-width: 100%;
    }

}