.banner {
    position: relative;
}

.masthead-slider .container {
    padding: 0;
}

.hero-img {
    position: relative;
    height: 283px;
    width: 100%;
}

.hero-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-img::after {
    background-color: rgba(0,0,0,0.45);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-text {
    padding: 20px 22px 0 22px;
    color: #232020;
}

.hero-text h1 {
    text-transform: uppercase;
}

.hero-text h2 {
    font-size: 19px;
    font-weight: 500;
}


.banner-bttn .btn {
    display: block;
    text-align: center;
}

.banner .slick-dots {
    display: none !important;
}

.banner .btn {
    padding: 18px 32px;
}

@media (min-width: 480px) {
    .banner-bttn .btn {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .masthead-slider .container,
    .slider-content {
        padding: 0 22px;
        position: relative;
    }
    
    .hero-img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .hero-text {
        padding: 255px 0 225px 0;
        color: #fff;
        position: relative;
    }

    .hero-text h2 {
        font-size: 36px;
        font-weight: 500;
        padding: 0 0 30px 0;
    }
    
}
@media (min-width: 1025px) {
    .banner .slick-dots {
        display: block !important;
        text-align: center;
    }
}
@media (min-width: 1200px) {

    .hero-text h2 {
        font-size: 40px;
    }
}