.one-thir-main {
    position: relative;
    margin-top: 89px;
}

.one-thir-img {
    height: 417px;
    position: relative;
}

.one-thir-img iframe {
    width: 100%;
    height: 100%;
}

.one-thir-img img.full-h-img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.bottom-one-third {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 16px;
    left: 0;
}

.top-one-third {
    position: absolute;
    top: 20px;
    right: 30px;
}

.bottom-one-third img {
    display: block;
    width: 116px;
    margin: 0 auto;
}
.top-one-third img {
    display: block;
    width: 58px;
    margin: 0 auto;
}

.bottom-one-third h2,
.top-one-third h2 {
    color: #fff;
    padding: 5px 0 0 0;
    font-size: 27px;
    text-transform: uppercase;
}

.one-third-text {
    background-color: #ECECEC;
    padding: 36px 20px;
    color: #232020;
}

.one-third-text h2 {
    font-size: 30px;
}

.one-third-text p {
    font-size: 16px;
    margin: 0;
    padding: 0 0 15px 0;
}

.yt-popup {
    position: relative;
    display: block;
    height: 100%;
}

.yt-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.play-btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 768px) {
    .one-thir-img {
        height: 859px;
        position: relative;
    }

    .bottom-one-third h2,
    .top-one-third h2 {
        font-size: 60px;
    }

    .bottom-one-third img {
        width: 233px;
    }

    .top-one-third img {
        width: 120px;
    }

    .one-third-text {
        margin-top: 25px;
        padding: 70px 60px;
    }

    .one-third-text h2 {
        font-size: 36px;
    }


    .one-third-text .btn {
        margin-top: 35px;
    }

}

@media (min-width: 1200px) {

    .one-third-section {
        padding-top: 89px;
    }

    .one-thir-main {
        margin-top: 16px;
    }
    .one-thir-img {
        width: 41%;
        position: absolute;
        height: 100%;
        top: 0;
    }

    
    .one-third-text {
        width: 59%;
        padding: 0;
        margin: 0;
    }

    .right-text-side {
        float: right;
    }

    .one-third-right-text {
        border-left: 16px solid #fff;
        padding: 170px 140px;
    }

    .one-third-left-text {
        border-right: 16px solid #fff;
        padding: 170px 140px;
    }
    .right-side {
        right: 0;
    }
}