.product-section {
    padding: 68px 0 0 0;
    color: #232020;
}

.product-section h2 {
    font-size: 26px;
    padding-bottom: 10px;
    padding-left: 8px;
    text-transform: uppercase;
}

.product-content {
    width: 224px;
}

.product-section .container {
    padding: 0 0 0 14px;
}

.product-item {
    padding: 0 8px;
}

.product-title {
    background-color: #CE182D;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 6px 0;
    line-height: 1.3em;
}

.product_meta a {
    display: block;
    background-color: #CE182D;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 6px 0;
    line-height: 1.3em;
    text-decoration: none;
}

.product-img-box { 
    border: 1px solid #C9CFCF;
    border-top: none;
    position: relative;
    padding: 20px 0;
}

.up-sells .product-img-box {
    border-top: 1px solid #C9CFCF;
}

.product-img-box img { 
    width: 184px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.product-img-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.product-img-box a i  {
    color: #232020;
    text-decoration: none;
}

.product-description .product-item-title {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 20px 0 0;
    color: #232020;
}

.product-description .product-loop-title {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 20px 0;
    color: #232020;
    display: inline-block;
    text-decoration: none;
}

.product-description p {
    font-size: 16px;
    font-weight: 900;
    display: block;
    padding: 20px 0;
    color: #232020;
}

.product-description:hover p,
.product-description .product-loop-title:hover {
    color: #CE182D;
}

.compare-link {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 2px 0;
    color: #232020;
    border-bottom: 2px solid #232020;
    display: inline-block;
    cursor: pointer;
}

.compare-link a {
    color: #232020;
    text-decoration: none;
}

.woocommerce .upsells-compare .compare {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 2px 0;
    color: #232020;
    border-radius: 0;
    border-bottom: 2px solid #232020;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.woocommerce .upsells-compare .compare:hover {
    background-color: transparent;
    text-decoration: none;
}

.inne-boredr .product-img-box { 
    border-top: 1px solid #C9CFCF;
}

.product-box-bttn {
    display: none;
}

@media(min-width: 320px ) {

    .slick-initialized .slick-slide{
        vertical-align: top;
    }

}

@media (min-width: 768px) {

    .product-content {
        width: 398px;
    }

    .product-section h2 {
        font-size: 42px;
    }

    .product-title,
    .product_meta a {
        font-size: 18px;
        padding: 20px 0;
    }

    .product-img-box { 
        padding: 150px 0;
    }

    .product-img-box img { 
        width: 280px;
    }

    .product-description p {
        font-size: 20px;
    }
    
    .product-description p span {
        font-size: 16px;
    }
    
    .product-img-box i {
        top: 20px;
        right: 17px;
    }
}

@media (min-width: 1200px) {
    .product-section {
        padding: 110px 0 0 0;
    }

    .product-section h2 {
        padding-left: 0;
        padding-bottom: 15px;
    }

    .product-section .container {
        padding: 0 22px;
    }

    .product-slider {
        margin: 0 -16px;
    }

    .product-item {
        float: left;
        width: 25%;
        padding: 0 16px;
    }

    .product-img-box img {
        max-width: 100%;
        width: 280px;
    }

    .product-content {
        width: 100%;
    }

    .product-item {
        cursor: pointer;
    }
    
    .product-img:after {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.12);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .product-item:hover .product-img-box img {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .product-item:hover .product-img:after {
        opacity: 1;
    }
    .product-img-box i {
        z-index: 1;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 43px;
    }
    .product-item:hover .product-img-box i {
        background-color: #fff;
        border-radius: 50%;
    }

    .product-item:hover .product-description .product-item-title {
        color: #CE182D;
    }

    .product-box-bttn {
        position: relative;
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 48px;
        top: 50%;
        margin-top: -24px;
    }

    .product-item:hover .product-box-bttn {
        display: block;
    }


}

.product-img-box .btn-secondary {
    border-color: #fff;
    color: #fff;
    background: none;
}