.video-section {
    padding-top: 62px;
}

.guitar-vid-img {
    height: 221px;
}

.guitar-vid-img img {
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
}

.video-form {
    padding-top: 14px;
}

.video-form h3 {
    font-size: 30px;
    padding-bottom: 28px;
}

.form-col {
    padding-bottom: 18px;
}

.form-col p,
.form-col p a {
    color: #8A8E8F;
    font-size: 16px;
    padding: 17px 0 0 0;
    margin: 0;
}

.guiter-content,
.video-form {
    position: relative;
}

.video-side-pict {
    margin: 0;
    padding: 0;
}

.video-side-pict ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.video-side-pict ul li {
    margin: 0 0 16px 0;
    padding: 0;
    height: 402px;
}

.video-side-pict ul li:last-child {
    margin: 0;
}

.video-side-pict ul li:before {
    display: none;
}

.video-side-pict ul li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.video-container {
    height: 820px;
    width: 100%;
    border: 0;
    position: absolute;
    right: 0px;
    top: 0px;
}

video#v1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;';
    position: relative;
    z-index: -1;
}


@media (min-width: 768px) {
    .video-section {
        padding-top: 51px;
    }

    .guiter-content {
        padding: 168px 0;
    }

    .guitar-vid-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .video-form {
        background-color: #fff;
        margin: 0 auto;
        width: 470px;
        padding: 44px 50px 26px 50px;
    }
}

@media (min-width: 1200px) {
    .video-section {
        padding-top: 97px;
    }

    .guiter-content {
        padding: 0;
    }
    .video-form {
        float: right;
        margin: 162px 138px 0 0;
    }
}