.accordion-section {
    padding: 80px 0 0 0;
}

.accordion-content {
    display: none;
    padding-bottom: 10px;
}

.accordion-title {
    border-top: 1px solid #E0E0E0;
    padding: 18px 0;
    padding-right: 55px;
    position: relative;
    cursor: pointer;
}

.accordion-title::after {
    content: '\e90f';
    font-family: 'icomoon';
    right: 0;
    top: 18px;
    position: absolute;
    font-size: 14px;
}

.accordion-list {
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0 0 0;
}

.open .accordion-title {
    color: #CE182D;
}

.open .accordion-title::after {
    content: '\e90e';
}

@media (min-width: 768px) {
    .accordion-section {
        padding: 90px 0 0 0;
    }

    .accordion-title {
        padding: 22px 0;
    }
    

    .accordion-title::after {
        font-size: 20px;
        top: 22px;
    }
}

@media (min-width: 1200px) {
    .accordion-section {
        padding: 125px 0 0 0;
    }

    .accordion-list {
        padding: 30px 0 0 0;
    }
}

.featured-div {
    max-width: 835px;
    padding-bottom:  30px;
}

.featured-box {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    position: relative;
    margin-bottom: 20px;
}

.featured-box img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #C9CFCF;
}

.featured-tick {
    width: 42px;
    height: 42px;
    margin: -21px auto 5px auto;
    background-color: #CE182D;
    position: relative;
    color: #fff;
    line-height: 42px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
}

@media (min-width: 1200px) {
    .featured-box {
        font-size: 20px;
    }
}

.padd-50 {
    padding-top: 50px;
}