.grey-cta-form {
    background-color: #ECECEC;
    padding: 45px 0;
}

.grey-cta-title {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .grey-cta-form {
        padding: 100px 0;
    }
}


@media (min-width: 1025px) {
    .grey-cta-form {
        margin-top: 110px;
    }
}