.half-main {
    position: relative;
    margin-top: 89px;
}

.half-and-half-img {
    height: 417px;
    position: relative;
}

.half-and-half-img img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}


.half-and-half-text{
    background-color: #ECECEC;
    padding: 36px 20px;
    color: #232020;
}

.half-and-half-text p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .half-and-half-img {
        height: 859px;
        position: relative;
    }

    .half-and-half-text{
        margin-top: 25px;
        padding: 70px 60px;
    }
}

@media (min-width: 1200px) {

    .half-and-half {
        padding-top: 89px;
    }

    .half-main {
        margin-top: 16px;
    }

    .half-and-half-img {
        width: 50%;
        position: absolute;
        height: 100%;
        top: 0;
    }

    
    .half-and-half-text {
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .right-text-side {
        float: right;
    }

    .half-and-half-right-text {
        border-left: 8px solid #fff;
        padding:  95px;
    }

    .half-and-half-left-text {
        border-right: 8px solid #fff;
        padding:  95px;
    }

    .left-side {
        border-right: 8px solid #fff;
    }

    .right-side {
        right: 0;
        border-left: 8px solid #fff;
    }
}