.login-section {
    padding-top: 50px;
}

.login-box {
    padding: 20px 15px;
    background-color: #ECECED;
}

.login-item {
    margin: 10px 0;
}

p.small,
.woocommerce-privacy-policy-text p {
    color: #8A8E8F;
    font-size: 14px;
    padding: 10px 0 0 0;
}

@media (min-width: 768px) {

    .login-section {
        padding-top: 80px;
    }

    .login-box {
        padding: 30px;
        background-color: #ECECED;
        padding-bottom: 10px;
    }
}


@media (min-width: 1366px) {

    .right-margin {
        padding-right: 60px;
    }

    .left-margin {
        padding-left: 60px;
    }

    .login-item h3 {
        padding-top: 15px;
    }
    
}