.page-wishlist {
    padding: 0;
    position: relative;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive table {
    width: 680px;
    margin: 0 0;
}

.table-responsive table thead {
    background-color:#ECECEC;
    color: #8A8E8F;
}

.table-responsive table thead th {
    font-size: 14px;
    font-weight: 500;
    color: #8A8E8F;
    border: none;
    padding: 10px 15px;
}

.table-responsive th:first-child, td:first-child {
    border: inherit;
    text-align: left;
}

.table-responsive table tbody tr {
    border-top: 1px solid #E0E0E0;
}

.table-responsive table tbody td {
    font-size: 18px;
    font-weight: 500;
    color: #232020;
    border: none;
    padding: 17px 15px;
    text-align: center;
}

.table-responsive table tbody .wl-name {
    text-align: left;
}

.table-responsive table tbody .actions {
    text-align: right;
}

.table-responsive table tbody h5 {
    color: #232020;
    padding: 0 0;
}

.table-responsive table tbody h5 a {
    text-decoration: none;
    color: #232020;
}

.wishlist-table {
    margin-top: 22px;
}

.wishlist-sidebar {
    margin-top: 50px;
}

.wl-share-links li:first-child,
#wl-wrapper ul.wl-tabs li:first-child {
    padding-left: 0;
}

.wl-share-links li:before,
#wl-wrapper ul.wl-tabs li:before {
    display: none;
}

#wl-wrapper ul.wl-tabs {
    border-bottom: none;
}

#wl-wrapper .wl-tabs > li {
    margin-bottom: 0;
    padding-left: 10px;
}

#wl-wrapper .wl-tabs > li > a {
    color: #232020;
    text-decoration: none;
    font-weight: 900;
    border: none;
}


#wl-wrapper .wl-tabs > li.active > a,
#wl-wrapper .wl-tabs > li > a:hover {
    background-color: #ECECEC;
    border: none;
    color: #232020;
    border-radius: 3px;
}

.page-wishlist .wl-actions-table td label,
#wl-wrapper label {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

#wl-wrapper .wl-actions-table {
    width: 100%;
    max-width: 600px;
}

.page-wishlist td.product-thumbnail a {
    display: inline-block;
    max-width: 240px;
}

#wl-wrapper .wl-table.view thead tr,
#wl-wrapper .wl-find-table thead tr {
    background-color: #ECECEC;
}

#wl-wrapper .wl-table.view thead tr th,
#wl-wrapper .wl-find-table thead tr th {
    color: #8A8E8F;
}

#wl-wrapper .wl-table.view tbody .cart_item td {
    vertical-align: middle;
}

#wl-wrapper ul.wl-tabs {
    padding-bottom: 0;
}

#wl-wrapper .wl-rad-table {
    margin-top: 12px;
}

#wl-wrapper .wl-rad-table .wl-privacy-settings {
    position: relative;
    padding-right: 5px;
}

#wl-wrapper .wl-rad-table .wl-privacy-settings input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#wl-wrapper .wl-rad-table .wl-privacy-settings label {
    position: relative;
    background-color: #fff;
    border-color: #232020;
    color: #232020;
    border-radius: 4px;
    display: block;
    padding: 6px;
    margin-bottom: 0;
    text-align: center;
}

#wl-wrapper .wl-rad-table .wl-privacy-settings input:checked + label {
    background-color: #232020;
    border-color: #232020;
    color: #fff;
}

#wl-wrapper .wl-rad-table .wl-privacy-settings input:hover {
    cursor: pointer;
}

#wl-wrapper .wl-rad-table td .wl-small {
    font-size: 13px;
}

#wl-wrapper .wl-table td {
    padding: 5px 0;
}

#wl-wrapper .wl-table.manage tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

#wl-wrapper .wl-table.manage tbody td {
    padding: 17px 15px;
}

#wl-wrapper .wl-table.manage tbody tr:last-child {
    border-bottom: none;
}

#wl-wrapper .wl-table.manage thead tr {
    background-color: #ECECEC;
    color: #8A8E8F;
}
#wl-wrapper .wl-table.manage tr th {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
}

#wl-wrapper .wl-table .product-name {
    text-align: left;
}

#wl-wrapper .wl-table .product-name a {
    color: #232020;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
}

#wl-wrapper .wl-table.shop_table_responsive td.product-thumbnail img {
    height: auto;
}

#wl-wrapper .wl-table input.qty {
    padding: 5px 10px;
    text-align: center;
}


@media (min-width: 768px) {

    .table-responsive table {
        width: 100%;
        margin: 0 0;
    }

    .table-responsive {
        overflow-x: visible;
    }

    .table-responsive table tbody h5 {
        font-size: 22px;
    }

}

#wl-wrapper .wl-table.view thead tr th  {
    font-weight: 500;
}

#wl-wrapper .wl-table.view {
    border: none;
}

@media ( min-width: 1024px ) {
    #wl-wrapper .wl-actions-table {
        text-align: right;
    }
    
    .wl-sorting-option.cat {
        padding-left: 20px;
    }

    #wl-wrapper .wl-actions-table .wl-sort-button {
        vertical-align: bottom;
        padding-left: 20px;
    }
    .wl-sort-button input {
        padding: 15px 22px 16px;
    }
}

@media (min-width: 1300px) {
    .wishlist-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .wishlist-sidebar {
        width: 530px;
        margin-top: 0;
    }

    .wishlist-information {
        width: calc(100% - 530px);
        padding-right: 60px;
    }

    .wishlist-top-info .btn {
        padding: 18px 28px;
        margin-top: 30px;
    }

}

@media (min-width: 1600px) {
    .table-responsive table thead th,
    #wl-wrapper .wl-table.manage tr th {
        padding: 10px 26px;
    }
    
    .table-responsive table tbody td {
        padding: 17px 26px;
    }

    .table-responsive table tbody h5 {
        font-size: 28px;
    }

    .wishlist-information {
        padding-right: 150px;
    }

    #wl-wrapper .wl-table .product-name a {
        font-size: 20px;

    }
}


/* individual-wishlist */

.individual-wishlist h2 {
    padding: 0 0 4px;
}

.individual-wishlist .table-responsive table {
    width: 750px;
    margin: 0 0;
}

.back-wishlists i {
    vertical-align: middle;
    padding-bottom: 8px;
}

.wishlist-items {
    margin-top: 30px;
}

.wishlist-items ul {
    margin: 0;
    padding: 0;
}

.wishlist-items ul li {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}

.wishlist-items ul li::before {
    display: none;
}

.wishlist-items ul li a {
    margin: 0;
    padding: 8px 12px;
    display: block;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 900;
    color: #232020;
    text-decoration: none;
}

.wishlist-items ul li a:hover,
.wishlist-items ul li.active a {
    background: #ECECEC;
    color: #232020;
}

.wishlist-products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.wishlist-products-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #CE182D;
    font-size: 23px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    line-height: 2em;
    margin-top: 15px;
}

.wishlist-products-image {
    border: 1px solid #C9CFCF;
    padding: 10px;
    margin: 0 10px;
}

.wishlist-products-image img {
    max-width: 50px;
}

.wishlist-products-info {
    width: 140px;
    font-size: 15px;
    color: #232020;
    font-weight: 900;
}

.individual-wishlist .wishlist-table .btn{
    margin: 5px 0;
    width: 208px;
}

.individual-wishlist .table-responsive table tbody td {
    vertical-align: top;
}

@media (min-width: 768px) {
    .individual-wishlist .table-responsive table {
        width: 100%;
    }

    .wishlist-products-info {
        width: 126px;
    }
}

@media (min-width: 1600px) {
    .wishlist-products-image img {
        max-width: 110px;
    }

    .wishlist-products-image {
        padding: 3px;
        margin: 0 15px;
    }

    .wishlist-products-info {
        width: 200px;
        font-size: 20px;
    }

    .wishlist-products-icon {
        margin-top: 40px;
    }
}





