/* Category Containers */
.page-category,
.category-sidebar {
    padding-top: 40px;
}

.page-category .container {
    padding-left: 0;
    padding-right: 0;
}

.page-category .facetwp-template {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1025px) {
    .page-category .container {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.page-category .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 1025px) {
    .page-category .col-xs-12 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.category-sidebar {
    width: 100%;
}

@media only screen and (min-width: 1025px) {
    .category-sidebar {
        max-width: 260px;
        width: 100%;
    }
}

/*Category Siderbar List */
.category-sidebar .accordion-list {
    padding-top: 0;
}

@media only screen and (min-width: 1025px) {
    .category-sidebar .accordion-list {
        padding-top: 15px;
    }
}

.category-sidebar .filter-text {
    font-size: 0.875em;
    color: #8A8E8F;
}

/*Category Main Content*/
.category-main {
    padding-bottom: 30px;
    cursor: pointer;
}

.category-main .category-box {
    position: relative;
    border: 1px solid #C9CFCF;
    padding: 29px 19px;
}

.category-main .category-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

@media only screen and (min-width: 1025px) {
    .category-main:hover .category-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        backdrop-filter: blur(10.734000205993652px);
        --webkit-backdrop-filter: blur(10.734000205993652px);
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.category-main .icon-whislist-link {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    text-decoration: none;
    background-color: #CE182D;
    border-radius: 50%;
}

.category-main .icon-whistlist {
    color: #fff;
    font-size: 1.4375em;
}

.category-main .category-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-main .category-box-bttn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@media only screen and (min-width: 1025px) {
    .category-main .category-box-bttn {
        display: inline-block;
        opacity: 0;
        visibility: none;
        z-index: 99;
        transition: all .3s ease-in-out;
    }

    .category-main:hover .category-box-bttn {
        opacity: 1;
        visibility: visible;
    }
}

.category-main .category-box-bttn a {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
}

@media only screen and (min-width: 1025px) {
    .category-main .category-box-bttn a:hover {
        border: 1px solid #fff;
        background-color: #fff;
        color: #232020;
    }
}

.category-main .category-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 13px;
    min-height: 260px;
}

.category-main .product-loop-title {
    font-size: 1.375em;
    font-weight: 900;
    color: #232020;
    line-height: 1.2em;
    text-decoration: none;
}

@media only screen and (min-width: 1025px) {
    .category-main:hover .product-loop-title {
        color: #CE182D;
    }
}

.category-main .product-desc-excerpt {
    padding-top: 10px;
}

.category-main .product-desc-excerpt p {
    padding-bottom: 0;
    font-size: 1em;
    font-weight: 500;
    color: #232020;
}

.category-main .product-desc-model {
    padding-top: 10px;
    font-size: 0.75em;
    color: #8A8E8F;
}

.category-main .price {
    padding-top: 15px;
    display: inline-block;
}

.category-main .woocommerce-Price-amount {
    font-size: 1.375em;
    font-weight: 900;
    color: #232020;
}

.category-main .product-bttn {
    padding-top: 15px;
}

.category-main .product-bttn .compare {
    display: inline-block;
    padding-top: 15px;
    font-size: 1em;
    color: #232020;
}


/*.page-category {
    padding: 60px 0;
    position: relative;
}

.category-sidebar .h2 {
    word-wrap: break-word;
}

.filter-text {
    color: #8A8E8F;
    font-size: 16px;
}

.category-listings {
    padding-top: 40px;
}

.category-result-count {
    color: #8A8E8F;
    font-size: 16px;
    padding-left: 8px;
}

.category-search-box {
    background-color: #FFFFFF;
    position: relative;
    height: 60px;
    border-radius: 0;
    margin: 10px 0;
    max-width: 100%;
    border: 1px solid #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
}

.category-search-box input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 15px 0 42px;
    font-size: 16px;
    line-height: 20px;
    color: #232020;
    font-weight: 400;
}

.category-search-box button[type="submit"] {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 0;
    color:#262626;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 21px;
    width: 36px;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.category-search-box button[type="submit"]:before {
    display: none;
}

.category-search-box button[type="submit"]:hover {
    color: #CE182D;
}

.cat-sorting {
    padding: 10px 0 20px 0;
    position: relative;
    z-index: 9;
    color: #8A8E8F;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    z-index: 99;
    padding-right: 8px;
}

.woocommerce .cat-sorting .woocommerce-ordering {
    float: none;
}

.cat-sorting span {
    float: left;
    padding-right: 5px;
}


.cat-sorting form  {
    width: 100%;
    margin-bottom: 0;
}

.cat-sorting form .choices {
    margin-bottom: 0;
}

.cat-sorting .choices__inner {
    border: none;
    padding: 0 !important;
    height: 26px;
    min-height: 26px;
    background: none;
    color: #232020;
    font-weight: 900;
}

.cat-sorting .choices__list--single {
    padding: 0;
}

.cat-sorting .choices[data-type*="select-one"]::after {
    width: 25px;
    background-color: transparent;
    font-size: 12px;
    color: #232020;
}

.cat-sorting .choices[data-type*='select-one'].is-open:after {
    color: #fff;
}

.woocommerce .product-cat-item a {
    text-decoration: none;
}

.woocommerce .product-cat-item a mark {
    background-color: transparent;
}

.woocommerce .product-cat-item a:hover {
    color: #CE182D;
}

.woocommerce .product-cat-item .cat-image {
    border: 1px solid #C9CFCF;
    position: relative;
    padding: 40px 0;
    display: block;
    text-align: center;
}

.category-listings-shop {
    width: 100%;
}

@media (min-width: 768px) {
    .category-result-count {
        float: left;
        padding-top: 13px;
    }

    .cat-sorting {
        width: auto;
        min-width: 210px;
    }
}
@media (min-width: 1025px) {
    .page-category {
        padding: 35px 0 0 0;
    }

    .cat-sorting,
    .woocommerce .cat-sorting .woocommerce-ordering  {
        float: right;
    }

    .category-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .category-sidebar {
        width: 260px;
    }

    .category-listings {
        width: calc(100% - 260px);
        padding-left: 60px;
    }

}

@media (min-width: 1600px) {

    .category-listings {
        padding-left: 150px;
    }

}


.category-main {
    padding-bottom: 40px;
}

.category-img-box {
    border: 1px solid #C9CFCF;
    position: relative;
    padding: 40px 0;
}

.category-img-box img {
    width: 184px;
    margin: 0 auto;
    display: block;
}

.category-img-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.category-img-box a i  {
    color: #232020;
    text-decoration: none;
}

.category-description .product-loop-title,
.woocommerce-loop-category__title {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 20px 0;
    color: #232020;
    text-decoration: none;
    display: block;
}

.cat-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cat-desc a {
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #8A8E8F;
    text-decoration: none;
}

.woocommerce div.product span.price {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 10px 0;
    color: #232020;
    display: block;
}

.cat-bttn .btn {
    margin-bottom: 15px;
}

.cat-bttn a.compare {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 2px 0;
    border-radius: 0;
    color: #232020;
    border-bottom: 2px solid #232020;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.cat-bttn a.compare:hover {
    color: #CE182D;
    border-bottom: 2px solid #CE182D;
    transition: all .3s;
    background-color: transparent;
    text-decoration: none;
}


.category-box-bttn {
    display: none;
}


.category-img-box a i.red-icon {
    color: #fff;
    background-color: #CE182D;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7em;
}

@media (min-width: 768px) {

    .category-img-box img {
        width: 280px;
    }

    .category-description .product-loop-title,
    .woocommerce div.product span.price,
    .woocommerce-loop-category__title {
        font-size: 22px;
    }

    .category-description {
        position: relative;
        height: 292px;
    }

    .cat-bttn {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .category-main {
        padding-bottom: 50px;
    }

    .category-listings {
        padding-top: 0;
    }

}


@media (min-width: 1200px) {

    .category-img-box img {
        max-width: 100%;
        width: 280px;
    }


    .category-img:after {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.12);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .category-main:hover .category-img-box img {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .category-main:hover .category-img:after {
        opacity: 1;
    }



    .category-main:hover .category-description .product-loop-title {
        color: #CE182D;
    }

    .category-box-bttn {
        position: relative;
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 48px;
        top: 50%;
        margin-top: -24px;
    }

    .category-box-bttn .btn-secondary {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
    }

    .category-main:hover .category-box-bttn {
        display: block;
    }

    .category-img-box i {
        z-index: 9;
        right: 20px;
        top: 20px;
        background-color: #fff;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.7em;
    }

    .compare:hover {
        border-color: #CE182D;
    }
    .compare:hover a{
        color: #CE182D;
    }


}

.loading-area {
    text-align: center;
    margin-top: 30px;
}

.loading-area p {
    padding-bottom: 10px;
    color: #8A8E8F;
}

.loading-bar {
    position: relative;
    max-width: 300px;
    margin: 0 auto 25px;
    height: 6px;
    background: #ECECEC;
}

.loading-bar-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: #232020;
}

.loading-area .btn-secondary {
    background: #232020;
    color: #fff;
}


.loading-area .btn-secondary:hover {
    background: #CE182D;
    border-color: #CE182D;
}

/* Range Bar */




/*.slider {
	position: relative;
	height: 5px;
	margin-top: 1.25rem;
	margin-bottom: 2.25rem;
	background-color: #ECECEC;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	touch-action: none
}

.slider-fill {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	max-width: 100%;
	height: 5px;
	background-color: #232020;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.slider-fill.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider-handle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	left: 0;
	z-index: 1;
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #232020;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	border-radius: 50%
}

[data-whatinput=mouse] .slider-handle {
	outline: 0
}

.slider-handle:hover {
	background-color: #232020
}

.slider-handle.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider.disabled,
.slider[disabled] {
	opacity: .25;
	cursor: not-allowed
}

.filter-range-input input {
  border: none;
    width: 30px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  color: #8A8E8F;
  padding: 0;
  text-align: right;
}

.filter-range-input {
    color: #8A8E8F;
    font-size: 16px;
}

.filter-range-input {
  float: right;
}

.filter-title {
    margin-bottom: 20px;
}

.filter-range .noUi-target {
    border-radius: 0;
    border: none;
    height: 5px;
    background-color: #ECECEC;
    padding: 0;
}

.filter-range .noUi-horizontal .noUi-handle {
    width:  14px;
    height: 14px;
    background: #232020;
    border-radius: 100%;
    border: none;
}

.filter-range .noUi-horizontal .noUi-handle.noUi-handle-lower {
    right: -14.5px;
}

.filter-range .noUi-horizontal .noUi-handle.noUi-handle-upper {
    right: -0.5px;
}

.filter-range .noUi-connect,
.filter-range .noUi-horizontal .noUi-handle {
    background-color: #232020;
}

.filter-range .facetwp-slider-reset {
    display: inline-block;
    margin-top: 12px;
}

.cat-content .facetwp-input-wrap {
    background-color: #FFFFFF;
    position: relative;
    height: 60px;
    border-radius: 0;
    margin: 10px 0;
    display: block;
    border: 1px solid #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
}

.cat-content .facetwp-input-wrap input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 15px 0 42px;
    font-size: 16px;
    line-height: 20px;
    color: #232020;
    font-weight: 400;
}

.cat-content .facetwp-input-wrap i {
    right: auto;
    left: 10px;
    top: 0;
    color: #232020;
    opacity: 1;
    font-size: 21px;
    line-height: 60px;
}

.cat-content .facetwp-input-wrap i:before {
    content: "\e913";
    font-family: 'icomoon';
    font-style: normal;
    background: none;
}*/
