.product-info {
    padding-top: 15px;
}

.product-info .prod-title {
    padding: 0;
    text-transform: capitalize;
}

.product-details,
.product-details a {
    font-size: 18px;
    color: #8A8E8F;
    padding: 5px 0 20px 0;
}

.product-details a { 
    padding: 0;
    text-decoration: none;
}

.price {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 25px;
}

.product-info .btn {
    margin-bottom: 25px;
}

.product-info .compare {
    background-color: transparent;
    border-radius: 0;
    color: #232020;
    border-bottom: 2px solid #232020;
    padding: 0 0 2px 0;
    text-decoration: none;
}

.product-info .compare:hover {
    background-color: transparent;
    color: #232020;
    text-decoration: none;
    border-bottom: 2px solid #232020;
}

.product-share {
    margin-top: 25px;
    padding: 10px;
    background-color: #ECECEC;
}

.product-share ul {
    margin: 0;
    padding: 10px 0;
}

.product-share ul li {
    margin: 0;
    padding: 0 10px 0 0;
    float: left;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 29px;
}

.product-share ul li:before {
    display: none;
}

.product-share ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #232020;
    border-radius: 4px;
    width: 29px;
    text-align: center;
    display: block;
}


@media (min-width: 480px) {
    .product-share ul {
        margin-right: 25px;
        float: left;
    }
}

@media (min-width: 768px) {
    .product-share {
        padding: 14px 24px;
    }
}

@media (min-width: 1920px) {
    .padd-right {
        padding-right: 65px;
    }

    .product-info {
        padding-left: 65px;
    }
    
    .product-share {
        margin-top: 110px;
    }
}