.testimonial-section  {
    position: relative;
}

.testimonial-content  {
    position: relative;
    padding: 90px 0;
}


.testimonial-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial-bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.testimonial-title {
    position: relative;
    font-size: 14px;
    color: #232020;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.testimonial-content h2 {
    position: relative;
    color: #CE182D;
    font-size: 26px;
    text-transform: uppercase;
}

.testimonial-slider {
    padding: 0 20px;
}

.testimonial-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.25em;
    color: #232020;
    font-weight: 500;
}

.testimonial-bttn {
    position: relative;
    padding-top: 40px;
}

.testimonial-bttn .btn-secondary {
    background-color: transparent;
}

.testimonial-bttn .btn-secondary:hover {
    background-color: #232020;
    border-color: #232020;
    color: #fff;
}

.innerpage-testimonial h2 {
    font-size: 26px;
    color: #202123;
    text-transform: none;
}

.innerpage-testimonial {
    margin-top: 85px;
}

.innerpage-testimonial .testimonial-content {
    padding: 35px 0;
}

.testimonial-pict {
    padding: 0 22px;
    text-align: center;
    padding-bottom: 22px;
    max-width: 476px;
    max-height: 492px;
}

.testimonial-pict img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.div-testimonial {
    padding-top: 5px;
}

.div-testimonial i {
    transform: rotate(180deg);
    display: inline-block;
}

.author {
    padding-top: 15px;
    font-size: 16px;
    font-weight: 900;
    color: #232020;
}

.author span {
    display: block;
    color: #8A8E8F;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
}


@media (min-width: 768px) {
    .testimonial-content  {
        padding: 80px 0;
    }

    .testimonial-title {
        font-size: 16px;
    }
    
    .testimonial-content h2 {
        font-size: 44px;
    }

    .testimonial-text {
        font-size: 18px;
    }

    .testimonial-text {
        width: 598px;
        margin: 0 auto;
    }

    .innerpage-testimonial h2 {
        font-size: 42px;
    }

    .innerpage-testimonial .testimonial-content {
        padding: 90px 0;
    }

    .innerpage-testimonial .testimonial-text {
        width: 500px;
    }

    .author {
        padding: 30px 0 0 0;
    }
}

@media (min-width: 1024px) {
    .testimonial-content  {
        padding: 85px 0;
    }

    .testimonila-item {
        padding: 30px 0 10px 0;
    }

    .testimonial-title {
        padding-bottom: 15px;
    }
    
    .testimonial-content h2 {
        font-size: 70px;
    }

    .testimonial-text {
        width: 812px;
    }

    .testimonial-slider {
        max-width: 1088px;
        margin: 0 auto;
    }

    .innerpage-testimonial h2 {
        font-size: 42px;
    }

   

   .innerpage-testimonial  .testimonila-item {
       padding-top: 0;
   }
}

@media (min-width: 1200px) {

    .flex-height {
        padding: 82px 0 0 0;
    }

    .innerpage-testimonial .testimonial-text {
        width: 100%;
    }

    .author {
        padding: 50px 0 0 0;
    }

    .innerpage-testimonial .slick-prev, 
    .innerpage-testimonial .slick-next {
        margin-top: -60px;
    }

    .innerpage-testimonial .slick-prev {
        left: -20px
    }

    .innerpage-testimonial .slick-next {
        right: -20px
    }

    .testimonial-pict {
        float: right;
        padding: 0;
    }
}