/**
 * Add styling for 404 page here
 */

.imgbtns-404 {
    margin-bottom: 12px;
}

 .suggested-pages__image {
    border: 1px solid #C9CFCF;
    position: relative;
    height: 380px;
    padding: 40px 0;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.suggested-pages__image img {
    height: auto;
    max-width: 325px;
}

.suggested-pages a {
    text-decoration: none;
    color: #202123;
}

.suggested-pages a:hover {
    color: #CE182D;
}

.search-box button[type="submit"] {
    right: 0;
    top:initial;
}

