.page-footer {
    margin-top: 105px;
    background-color: #232020;
    padding: 32px 0 0 0;
    color: #fff;
}

.footer-logo img {
    display: block;
    margin: 0 auto;
}

ul.social {
    margin: 0;
    padding: 22px 0 0 0;
    list-style: none;
    text-align: center;
}

ul.social li {
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    font-size: 21px;
}

ul.social li a {
    color: #fff;
    text-decoration: none;
}

ul.social li a:hover {
    color: #CE182D;
}

ul.social li::before {
    display: none;
}

ul.footer-address {
    margin: 0 auto;
    padding:  15px 0 30px 0;
    list-style: none;
    text-align: center;
    max-width: 197px;
}

ul.footer-address li {
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 16px;
}

ul.footer-address li a {
    color: #fff;
    text-decoration: none;
}

ul.footer-address li a:hover {
    color: #CE182D;
}

ul.footer-address li::before {
    display: none;
}

.right-footer {
    padding: 15px 0 50px 0;
    border-top: 1px solid #e0e0e0;

}

.footer-nav {
    padding-bottom: 50px;
}

.right-footer ul {
    margin: 0 auto;
    padding:  0 0 0 0;
    list-style: none;
    text-align: center;
}

.right-footer ul li {
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 16px;
}

.right-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.right-footer ul li a:hover {
    color: #CE182D;
}

.right-footer ul li::before {
    display: none;
}


.right-footer ul li:last-child a  {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
    background-color: #CE182D;
    display: inline-block;
    padding: 11px 22px;
    color: #fff;
    text-decoration: none;
    line-height: 1.3em;
    border: 1px solid #CE182D;
}

.right-footer ul li:last-child a:hover {
    background-color: #A01323;
    border-color: #A01323;
}

.back-top {
    text-align: center;
}

.back-top .btn {
    background-color: #59595A;
    color: #fff;
    border-color: #59595A;
}

.back-top .btn:hover {
    background-color: #CE182D;
    color: #fff;
    border-color: #CE182D;
}


.bottom-footer {
    padding: 15px  0;
    border-top: 1px solid #e0e0e0;

}

.copyright ul {
    margin: 0 auto;
    padding:  0 0 0 0;
    list-style: none;
    text-align: center;
}

.copyright ul li {
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 16px;
}

.copyright ul li a {
    color: #fff;
    text-decoration: none;
}

.copyright ul li a:hover {
    color: #CE182D;
}

.copyright ul li::before {
    display: none;
}

@media (min-width: 768px) {
    .right-footer {
        padding: 15px 0 45px 0;
        border-top: none;
    
    }

    .right-footer ul li {
        margin: 0;
        padding: 15px 5px 15px 10px;
        font-size: 16px;
        display: inline-block;
    }

    .right-footer ul li:last-child a  {
        padding: 2px 10px;
    }

    .right-footer ul li:last-child{
        padding-right: 0;
    }

    .right-footer ul li:first-child {
        padding-left: 0;
    }

    .footer-nav {
        padding-bottom: 30px;
    }
    .copyright ul li {
        display: inline-block;
        padding: 15px 5px 15px 10px;
    }
  }
  
  @media (min-width: 1025px) {

    .top-footer {
        padding: 18px 0 45px 0;
    }

    .left-footer {
        float: left;
    }

    ul.footer-address {
        margin: 0;
        text-align: left;
        padding-bottom: 0;
    }

    .right-footer {
        float: right;
        padding: 0;
    }

    .right-footer ul li {
        padding: 15px 5px 15px 5px;
        float: left;
    }
    .back-top {
        text-align: right;
        padding-top: 66px;
    }

    .copyright {float: left;}
    .bottom-social {
        float: right;
    }

    .bottom-social ul.social{
        padding-top: 12px;
    }
  }

  @media (min-width: 1200px) {

    .right-footer ul li {
        padding: 15px 18px;
    }
  }