#wl-wrapper .move-list-sel {
    max-width: 210px;
}

#wl-wrapper.wl-button-wrap {
    padding: 0;
}

#wl-wrapper .wl-already-in ul{
    margin: 0 0 10px 0;
}

#wl-wrapper .wl-already-in ul li {
    padding-left: 0;
}

#wl-wrapper .wl-already-in ul li:before {
    display: none;
}

.woocommerce .quantity .qty {
    height: 46px;
    line-height: 46px;
    padding: 5px 0 5px 10px;
    color: #202123;
}

#wl-wrapper .wl-add-to { margin-bottom: 0; }

.woocommerce div.product form.cart {
    margin-bottom: 18px;
}

/* Cart Section */
.woocommerce table.cart {
    border: none;
}

.woocommerce table.cart thead tr {
    background-color: #ECECEC;
    color: #8A8E8F;
    font-weight: 500;
}

.woocommerce table.cart thead tr th {
    font-weight: 500;
}
.woocommerce-cart table.cart .product-thumbnail {
    min-width: 54px;
}

.woocommerce-cart table.cart .product-thumbnail img {
    max-width: 54px;
    width: 100%;
}

.woocommerce-cart table.cart .product-name a {
    color: #232020;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
}

.woocommerce-cart table.cart .product-name a:hover {
    color: #CE182D;
}

.woocommerce .quantity .input-text.qty {
    padding: 6px 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 160px;
    height: 37px;
}



.woocommerce .btn-primary.button,
.woocommerce a.btn-primary.button,
.woocommerce .btn-primary.button:disabled,
.woocommerce .btn-primary.button:disabled[disabled] {
    background-color: #CE182D;
    border-color: #CE182D;
    color: #fff;
}
.woocommerce a.btn-primary.button:hover,
.woocommerce .btn-primary.button:hover,
.woocommerce .btn-primary.button:disabled:hover,
.woocommerce .btn-primary.button:disabled[disabled]:hover {
    background-color: #A01323;
    border-color: #A01323;
    color: #fff;
}
.woocommerce a.btn-secondary.button,
.woocommerce .btn-secondary.button,
.woocommerce .btn-secondary.button:disabled,
.woocommerce .btn-secondary.button:disabled[disabled] {
    background-color: #fff;
    border-color: #232020;
    color: #232020;
}
.woocommerce a.btn-secondary.button:hover,
.woocommerce .btn-secondary.button:hover,
.woocommerce .btn-secondary.button:disabled:hover,
.woocommerce .btn-secondary.button:disabled[disabled]:hover {
    background-color: #232020;
    border-color: #232020;
    color: #fff;
}

@media( min-width: 1200px ) {
    .woocommerce-cart table.cart .product-name a {
        font-size: 18px;
    }
}

/* Checkout */
.woocommerce form.checkout_coupon {
    background-color: #ECECED;
}

.woocommerce form.checkout_coupon .input-text {
    height: 37px;
    padding: 5px 10px 4px;
}
.woocommerce form.checkout .form-row {
    position: relative;
}

.woocommerce form.checkout .form-row label {
    position: relative;
    top: 0;
    left: 0;
}

.woocommerce form.checkout .form-row input[type="text"],
.woocommerce form.checkout .form-row input[type="email"],
.woocommerce form.checkout .form-row input[type="number"] {
    height: 42px;
    padding: 5px 15px;
}

.select2-results__option:before {
    display: none;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    padding: 7.5px 12.5px 6.5px;
    border-color: #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
    height: auto;
    position: relative;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: 100%;
    width: 42px;
    top: 0;
    right: 0;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow:before {
    content: '\e900';
    font-family: 'icomoon';
    border-width: 0;
    line-height: 42px;
    margin-top: 0;
    pointer-events: none;
    background-color: #C9CFCF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow b { display: none; }

#add_payment_method #payment ul.payment_methods li:before,
.woocommerce-cart #payment ul.payment_methods li:before,
.woocommerce-checkout #payment ul.payment_methods li:before {
    background-color: transparent;
    width: auto;
    height: auto;
    border-radius: 0;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #CE182D;
    border-color: #CE182D;
    color: #fff;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #A01323;
    border-color: #A01323;
    color: #fff;
}

.woocommerce-error li:before {
    display: none;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    padding: 0 0 18px;
}

#add_payment_method #payment ul.payment_methods li label,
.woocommerce-cart #payment ul.payment_methods li label,
.woocommerce-checkout #payment ul.payment_methods li label {
    position: relative;
    background-color: #fff;
    border-color: #232020;
    color: #232020;
    border-radius: 4px;
    display: block;
    padding: 6px;
    margin-bottom: 0;
    text-align: center;
    left: 0;
}



#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#add_payment_method #payment ul.payment_methods li input:hover,
.woocommerce-cart #payment ul.payment_methods li input:hover,
.woocommerce-checkout #payment ul.payment_methods li input:hover {
    cursor: pointer;
}

#add_payment_method #payment ul.payment_methods li input:checked + label,
.woocommerce-cart #payment ul.payment_methods li input:checked + label,
.woocommerce-checkout #payment ul.payment_methods li input:checked + label {
    background-color: #232020;
    border-color: #232020;
    color: #fff;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    bottom: -18px;
}

.woocommerce td.product-name .wc-item-meta li {
   padding: 0;
}

.woocommerce ul.order_details li:before,
.woocommerce td.product-name .wc-item-meta li:before {
    display: none;
}

/* Edit Account */

.woocommerce-edit-account form.woocommerce-EditAccountForm .form-row {
    position: relative;
}

.woocommerce-edit-account form.woocommerce-EditAccountForm .form-row label {
    top: 0;
    left: 0;
    position: relative;
}

.woocommerce-edit-account form.woocommerce-EditAccountForm .form-row input {
    height: 42px;
    padding: 5px 10px;
}

.woocommerce-EditAccountForm fieldset {
    margin-bottom: 12px;
}

.woocommerce-orders-table__row td {
    font-size: 16px;
}

#wl-wrapper .wl-share-links li:first-child {
    padding-left: 0;
}

#wl-wrapper .wl-share-links li:before {
    display: none;
}

/* Woocommerce Notices*/

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
    background-color: #CE182D;
    border-color: #CE182D;
    color: #fff;
}

.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover {
    background-color: #A01323;
    border-color: #A01323;
    color: #fff;
}

.fx-woo-delimeter {
    display: inline-block;
    margin: 0 6px;
    position: relative;
}

@media (min-width: 1025px) {
    .fx-woo-delimeter {
        margin: 0 16px;
    }
}

.fx-woo-delimeter i {
    display: block;
    font-style: normal;
}

.fx-woo-delimeter i:before {
    content: "\e912";
    font-family: 'icomoon';
    color: #232020;
    font-size: 6px;
    line-height: 16px;
}
