/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythm setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/


/**
 * Document
 */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Avenir LT Std';
    margin: 0;
    padding: 0 0 65px 0;
    font-weight: 500;
    color: #202123
}

@media (min-width: 1025px ) {
    body {
        padding: 0;
    }
  
}

/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.aligncenter {
    display: table;
 }

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important; /* to overwrite inline widths */
 }
 
 img.alignright,
 .wp-caption.alignright,
 img.alignleft,
 .wp-caption.alignleft {
     height: auto;
     max-width: 50%;
 }
 
 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }
 
 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter { margin: 0 0 22px 0; }
 
 img.alignright,
 .wp-caption.alignright {
     float: right;
     margin: 0 0 22px 30px;
 }
 
 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }
 
 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
 }

 .wp-caption-text {
    caption-side: bottom;
    display: table-caption;
 }
 
 iframe,
 img {
     max-width: 100%;
 }
 
 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }
 
 .will-lazyload.lazyloaded {
     opacity: 1;
 }



/**
  * Typography
  */

  @font-face {
    font-family: 'Avenir LT Std';
    src: url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5  {
      margin: 0;
      padding: 0 0 15px 0;
      font-weight: 900;
  }
  
  
  h1, .h1 {
      font-size: 30px;
      line-height: 1em;
      text-transform: uppercase;
  }
  
  h2, .h2 {
      font-size: 26px;
      line-height: 1em;
  }

  h3, .h3 {
    font-size: 22px;
  }

  h4, .h4, 
  h5, .h5  {
    font-size: 20px;
  }

  .optional-heading {
    font-size: 18px;
    margin: 0;
    padding: 0 0 15px 0;
    font-weight: 900;
    text-transform: uppercase;
  }

@media (min-width: 768px) {

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5  {
      padding: 0 0  20px 0;
  }
    h1, .h1 {
        font-size: 50px;
    }
    
    h2, .h2 {
        font-size: 42px;
    }

    h3, .h3 {
      font-size: 36px;
    }

    h4, .h4 {
      font-size: 34px;
    }

    h5, .h5 {
      font-size: 28px;
    }
}

@media (min-width: 1025px) {
    h1, .h1 {
        font-size: 70px;
    }

    .optional-heading {
      font-size: 24px;
    }
  
}

p, ul, ol {
  font-size: 16px;
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  line-height: 1.2em;
  font-weight: 500;
}

.page-content ul,
.page-content ol {
   width: auto; 
   overflow: hidden;
}

ul li {
	margin: 0 0 9px 0;
  padding: 0 0 0 20px;
  position: relative;
}

ul li::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #232020;
}

ul li ul {
  padding-top: 10px;
  padding-bottom: 0;
}

ul li ul li::before {
  background-color: #fff;
  border: 1px solid #232020;
}


@media (min-width: 768px) {
  p, ul, ol {
    font-size: 18px;
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
  }
}

a {
    color: #CE182D;
    text-decoration: underline;
    transition: all .3s;
}

	a:hover {
        text-decoration: none;
        transition: all .3s;
    }



/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

.container {
	max-width: 1656px;
}




/**
 * Utility Margin/Padding Classes
 *
 * TODO: Update the --margins variable in custom-properties.css to match prototypes margins 
 */

/* Used on outer-most section container so section margins collapse */
.section-margins {
    margin-top: var(--section-margins);
    margin-bottom: var(--section-margins);
}

/* Used only for sections with colored backgrounds */
.section-padding {
    padding-top: var(--section-margins);
    padding-bottom: var(--section-margins);
}




/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -8px;
    margin-right: -8px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.
 
     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

 .btn {
   border-radius: 4px;
   font-size: 17px;
   font-weight: 900;
   background-color: #CE182D;
   display: inline-block;
   padding: 11px 22px;
   color: #fff;
   text-decoration: none;
   line-height: 1.3em;
   border: 1px solid #CE182D;
   cursor: pointer;
}

    .btn:hover {
      background-color: #A01323;
      border-color: #A01323;
    }

    .btn-primary {
      background-color: #CE182D;
      border-color: #CE182D;
   }
   
       .btn-primary:hover {
         background-color: #A01323;
         border-color: #A01323;
       }

.btn-secondary {
  background-color: #fff;
  border-color: #232020;
  color: #232020;
}

    .btn-secondary:hover {
      background-color: #232020;
      border-color: #232020;
      color: #fff;
    }

.btn-block {
    display: block;
    width: 100%;
}

.btn + .btn {
	margin-top: 15px; /* Add margin-top when 2 buttons are next to each other */
}

.form-bttn .btn {
  height: 55px;
}

@media (min-width: 600px) {

    .btn + .btn {
		margin-top: 0;
		margin-left: 10px;
	}

}



/**
 * Icons
 */

/* add icon code here */

@font-face {
    font-family: 'icomoon';
    src:  url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/icomoon.eot?2f9yxa');
    src:  url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/icomoon.eot?2f9yxa#iefix') format('embedded-opentype'),
      url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/icomoon.ttf?2f9yxa') format('truetype'),
      url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/icomoon.woff?2f9yxa') format('woff'),
      url('https://gatorcases.webpagefxstage.com/wp-content/themes/gatorcases/assets/fonts/icomoon.svg?2f9yxa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bottom-arrow:before {
    content: "\e900";
  }
  .icon-close:before {
    content: "\e901";
  }
  .icon-download:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-filled-circle:before {
    content: "\e904";
  }
  .icon-hamburg:before {
    content: "\e905";
  }
  .icon-heart:before {
    content: "\e906";
  }
  .icon-hollow-circle:before {
    content: "\e907";
  }
  .icon-instragram:before {
    content: "\e908";
  }
  .icon-left-arrow:before {
    content: "\e909";
  }
  .icon-link-arrow-left:before {
    content: "\e90a";
  }
  .icon-linkedin:before {
    content: "\e90b";
  }
  .icon-location:before {
    content: "\e90c";
  }
  .icon-mail:before {
    content: "\e90d";
  }
  .icon-minus:before {
    content: "\e90e";
  }
  .icon-plus:before {
    content: "\e90f";
  }
  .icon-print:before {
    content: "\e910";
  }
  .icon-profile:before {
    content: "\e911";
  }
  .icon-right-arrow:before {
    content: "\e912";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-tickmark:before {
    content: "\e914";
  }
  .icon-twitter:before {
    content: "\e915";
  }
  .icon-whistlist:before {
    content: "\e916";
  }
  .icon-youtube:before {
    content: "\e917";
  }
  


/**
 * Forms
 */

label {
    display: inline-block;
    margin: 0;
    position: absolute;
    font-size: 16px;
    color: #5B676F;
    font-weight: 400;
    pointer-events: none;
    left: 15px;
    top: 16px;
    letter-spacing: 0.025em;
    transition: 0.2s ease all;
}

.form-col {
  padding-bottom: 18px;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-field-button {
    padding-top: 5px;
}

@media (min-width: 768px) {
    .form-field {
        position: relative;
        margin-bottom: 30px;
    }
}

.form-field-floating {
    position: relative;
}

[type="text"]:focus ~ label,
[type="text"]:not(:placeholder-shown) ~ label, 
[type="email"]:focus ~ label, 
[type="email"]:not(:placeholder-shown) ~ label, 
[type="date"]:focus ~ label, 
[type="date"]:not(:placeholder-shown) ~ label, 
[type="datetime"]:focus ~ label, 
[type="datetime"]:not(:placeholder-shown) ~ label, 
[type="datetime-local"]:focus ~ label, 
[type="datetime-local"]:not(:placeholder-shown) ~ label, 
[type="month"]:focus ~ label, 
[type="month"]:not(:placeholder-shown) ~ label, 
[type="number"]:focus ~ label, 
[type="number"]:not(:placeholder-shown) ~ label, 
[type="password"]:focus ~ label, 
[type="password"]:not(:placeholder-shown) ~ label, 
[type="search"]:focus ~ label, 
[type="search"]:not(:placeholder-shown) ~ label, 
[type="tel"]:focus ~ label, 
[type="tel"]:not(:placeholder-shown) ~ label, 
[type="url"]:focus ~ label, 
[type="url"]:not(:placeholder-shown) ~ label, 
[type="week"]:focus ~ label, 
[type="week"]:not(:placeholder-shown) ~ label, 
[type="date"]:focus ~ label, 
[type="date"]:not(:placeholder-shown) ~ label,
textarea:focus ~ label, 
textarea:not(:placeholder-shown) ~ label {
    top: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: inherit;
    color: #8A8E8F;
} 

[type="text"]::placeholder,
[type="date"]::placeholder,
[type="datetime"]::placeholder,
[type="datetime-local"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
[type="date"]::placeholder,
textarea::placeholder {
    color: transparent;
}

textarea {
    width: 100%;
    height: 136px;
    border: none;
    border-left: 4px solid transparent;
    outline: none;
    padding: 22px 20px 20px;
    font-size: 15px;
    font-weight: 300;
    color: #414141;
    resize: none;
    border-radius: 3px;
    transition: 0.2s ease all;
}

/* Removes default webkit form styling */
input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
    -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid #C9CFCF;
    border-bottom: 2px solid #232020;
    color: #232020;
}

/* default text input style */
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
    width: 100%;
    height: 55px;
    border: 1px solid #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
    outline: none;
    padding: 16px 15px 5px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #8A8E8F;
    transition: 0.2s ease all;
}

/* Removes inconsistent padding from Firefox buttons */
button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border: none;
    padding:0;
}


@media (min-width: 1025px) {
    label {
        font-size: 17px;
        top: 18px;
    }

    [type="text"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="url"],
    [type="week"],
    [type="date"] {
        height: 56px;
        font-size: 17px;
    }

    .form-field-button {
        padding-top: 10px;
    }
}

/* Hide reCaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}




.check_box_area { 
  margin:0 0 0; padding:0;
}


.check_box_area div { 
  margin:20px 0;
}

.check_box_area label { 
  pointer-events:visible;
  left: 0;
  top: 0;
}

.check_box_area [type="checkbox"]:checked,
.check_box_area [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.check_box_area [type="checkbox"]:checked + label,
.check_box_area [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.check_box_area [type="checkbox"]:checked + label:before,
.check_box_area [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  border: 1px solid #232020;
  border-radius:0;
  background: #fff;
}
.check_box_area [type="checkbox"]:checked + label:after,
.check_box_area [type="checkbox"]:not(:checked) + label:after {
  content: '\2713';
  width: 12px;
  height: 12px;
  background: #232020;
  border: 1px solid #232020;
  position: absolute;
  top: 2px;
  left:0px;
  border-radius:0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color:#fff;
  text-align:center; 
  font-weight:bold;
  line-height:12px;
  font-size: 11px;
}
.check_box_area [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.check_box_area [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/**
 * Pagination
 */

 .wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi { margin-top: 70px; }

}



/**
 * Sticky Sidebar
 */

@media( min-width: 1025px ) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px; /* TODO: update to match how far down page when sidebar should stick */
    }
}

/* AJAX Search */
.searchwp-live-search-result a {
  color: #202123;
  text-decoration: none;
}

.searchwp-live-search-result a:hover {
  color: #CE182D;
  text-decoration: none;
}