/*------------------------------------*\

    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */

.page-header {
    padding: 9px 0;
    background-color: #fff;
    position: relative;
    -webkit-transition: 0.6s top ease;
    -moz-transition: 0.6s top ease;
    transition: 0.6s top ease;
}

.page-header.js-scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: 0.6s top ease;
    -moz-transition: 0.6s top ease;
    transition: 1s top ease;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    padding: 8px 0;
    z-index: 2000;
}


body.logged-in .page-header.js-scrolled {
    top: 32px;
}

.logo {
    width: 171px;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    display: block;
    height: auto;
}

.nav-fixed {
    position: fixed;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    background-color: #fff;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.nav-fixed ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav-fixed ul li {
    text-align: center;
    font-size: 11px;
    color: #232020;
    padding: 11px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.nav-fixed ul li.toggle-menu {
    justify-content: flex-start;
    padding: 23px 0 0px;
}

.nav-fixed ul li::before {
    display: none;
}

.nav-fixed ul li a {
    color: #232020;
    text-decoration: none;
    text-align: center;
}

.nav-fixed ul li i {
    font-size: 26px;
    display: block;
    padding-bottom: 3px;
    font-style: normal;
}

.nav-fixed ul li a.ubermenu-responsive-toggle {
    padding: 0;
}

.nav-fixed ul li a.ubermenu-responsive-toggle i:before {
    content: "\e905";
    font-family: 'icomoon';
}

.nav-fixed ul li a.ubermenu-responsive-toggle.close i:before {
    content: "\e901";
}

.toggle-menu,
.search-click {
    cursor: pointer;
}

.tab-bttn {
    float: right;
}

.tab-bttn .btn-secondary {
    background-color: #232020;
    border-color: #232020;
    color: #fff;
}

.tab-bttn .btn-secondary:hover {
    background-color: #fff;
    border-color: #232020;
    color: #232020;
}

.page-header .search-box {
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 79px;
    width: 100%;
    display: none;
    background-color: #EDEDED;
    padding: 10px 22px;
}

.search-box input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 0 30px 0 20px;
    font-size: 16px;
    color: #8A8E8F;
    font-weight: 400;
    height: 34px;
    border-bottom: 1px solid #E0E0E0;
}

.search-box [type="text"]::placeholder {
    color: #8A8E8F;
}

.search-box button[type="submit"] {
    border: none;
    border-radius: 0;
    height: auto;
    padding: 0;
    color:#262626;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 14px;
    font-size: 26px;
    width: 30px;
    margin: 0;
}

.search-box button[type="submit"]:hover {

    color:#CE182D;
}

.right-header {
    float: right;
}

.cart-head {
    float: left;
}

.cart-head ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-head ul li {
    float: left;
    color: #232020;
    padding: 0 0 0 10px;
}

.cart-head ul li::before {
    display: none;
}

.cart-head ul li a {
    color: #232020;
    text-decoration: none;
}

.cart-head ul li a:hover {
    color: #CE182D;
}
.cart-head  ul li i {
    font-size: 26px;
    display: block;
}


.page-header.js-scrolled .left-header,
.left-header ul li::before,
.page-header .nav-float,
.page-header.js-scrolled .nav-float-hide {
    display: none;
}

.page-header.js-scrolled .nav-float {
    display: block;
}


.page-header.js-scrolled .nav-float .ubermenu {
    margin-top: 0;
    border-top: none;
}

@media( min-width: 768px ) {
    .page-header {
        padding: 13px 0;
    }

    .logo {
        width: 170px;
        float: left;
    }
    .page-header.js-scrolled .logo {
        position: relative;
        left: 0;
        margin-top: 0;
        margin-left: 0;
    }

}

@media( min-width: 1025px ) {

    .left-header {
        float: left;
    }

    .left-header ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .left-header ul li {
        float: left;
        padding: 0 10px 0 0;
    }

    .logo {
        left: 50%;
        margin-left: -85px;
        float: none;
        position: absolute;
        margin-top: 15px
    }

    .search-box {
        display: block;
        position: relative;
        float: left;
        padding: 0;
        background-color: transparent;
        width: 200px;
    }

    .page-header {
        padding-bottom: 0;
    }

    .page-header.js-scrolled .cart-head ul li i {
        font-size: 19px;
    }

    .page-header .cart-head ul li.search-click {
        display: none;
    }

    .page-header.js-scrolled .cart-head ul li.search-click {
        display: block;
    }


    .page-header .search-box {
        bottom: auto;
        top: 0;
        position: relative;
        width: 200px;
        display: block;
        background-color: transparent;
        padding: 0;
    }

    .page-header.js-scrolled .search-box {
        position: fixed;
        width: 100%;
        background-color: #EDEDED;
        padding: 10px 22px;
        display: none;
    }

    .logged-in .page-header.js-scrolled .search-box {
        top: 110px;
    }

    .page-header.js-scrolled .search-box {
        top: 78px;
    }



    .page-header .search-box button[type="submit"] {
        right: 0;
        top: 0;
    }

    .page-header.js-scrolled .search-box button[type="submit"] {
        right: 30px;
        top: 14px;
    }

    .page-header.js-scrolled .top-header {
        display: flex;
        align-items: center;
    }

    .page-header .scrolled-menu .ubermenu-responsive.ubermenu {
        margin-top: 0;
    }

    .page-header.js-scrolled .scrolled-menu .ubermenu-responsive.ubermenu {
        border-top: none;
    }

    .page-header {
        padding-bottom: 152px;
    }

    .page-header.js-scrolled {
        padding-bottom: 9px;
    }

    .page-header .scrolled-menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .page-header.js-scrolled .scrolled-menu {
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
    }

    .page-header.js-scrolled .logo {
        margin-right: auto;
    }

    .page-header.js-scrolled .scrolled-menu,
    .page-header.js-scrolled .right-header {
        margin-left: auto;
    }

    .cart-head ul li:first-child {
        padding: 0;
    }
}

@media( min-width: 1200px ) {

    body.js-scrolled{
        margin-top: 200px;
    }
    .left-header ul li {
        float: left;
        padding: 0 40px 0 0;
    }

    .search-box {
        width: 266px;
    }

    .cart-head ul li {
        padding: 0 0 0 25px;
    }
}

@media( min-width: 1366px ) {

    .logged-in .page-header.js-scrolled .search-box {
        top: 142px;
    }

    .page-header.js-scrolled .search-box {
        top: 110px;
    }

    .logo {
        margin-left: -128px;
        width: 256px;
    }

    .page-header.js-scrolled .cart-head ul li i {
        font-size: 26px;
    }

}

/* Fix sticky header position for when admin bar visible
   TODO: Uncomment if design has sticky header */

/* .admin-bar .page-header {
    top: 32px;
}

@media screen and (max-width: 782px) {
    .admin-bar .page-header {
        top: 46px;
    }
} */





/**
 * Navigation
 */


/* General Styling */

.nav-primary {
    padding: 0 0;
    display: none;
    position: fixed;
    background-color: #F8F8F8;
    width: 100%;
    left: 0;
    z-index: 9;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.nav-primary ul {
    margin: 0;
    padding: 15px 0 65px 0;
    list-style: none;
}

.nav-primary ul li {
    padding: 10px 0;
    font-size: 17px;
}

.nav-primary li:before,
.nav-primary li:after {
    display: none; /* hide any custom bullet styling */
}

.nav-primary a {
    display: block;
    text-decoration: none;
    color: #232020;
}

.toggle-menu.cross .icon-hamburg::before {
    content: "\e901";
}

/* 1st Level */

.nav-primary > .menu > li {
    display: block;
}


/* Sub Menus */

.nav-primary .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 250px; /* adjust to match width of submenu prototype */
}

.nav-primary li:hover > .sub-menu {
    display: block;
}

.nav-primary .sub-menu li {
    display: block;
}


/* 3rd Level Sub Menus */

.nav-primary .sub-menu .sub-menu {
    top: 0;
    left: 100%;
}


@media (min-width: 1025px) {
    .nav-primary {
        padding: 0 0 0 0;
        display: block !important;
        position: relative;
        background-color: transparent;
        height: auto;
        overflow: inherit;
        border-top: 1px solid #E0E0E0;
        margin-top: 40px
    }

    .nav-primary ul {
        text-align: center;
        padding: 8px 0 0 0;
    }

    .nav-primary ul li {
        display: inline-block;
        padding: 0 8px;
    }
    .nav-primary ul li a {
        padding: 11px 0;
    }

    .nav-primary a:hover {
        color: #CE182D;
    }

    .nav-primary ul li:last-child a {
        border-radius: 4px;
        font-size: 17px;
        font-weight: 900;
        background-color: #CE182D;
        display: inline-block;
        padding: 11px 22px;
        color: #fff;
        text-decoration: none;
        line-height: 1.3em;
        border: 1px solid #CE182D;
    }

    .nav-primary ul li:last-child a:hover {
        background-color: #A01323;
        border-color: #A01323;
      }
}

@media (min-width: 1200px) {
    .nav-primary ul li {
        padding: 0 15px;
    }
}

@media (min-width: 1366px) {
    .nav-primary {
        margin-top: 80px;
    }

}
/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i { /* controls styling of mobile menu toggle */
    display: block;
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}

@media only screen and (min-width: 768px) {
  .page-header {
      z-index: 2000;
      position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .ubermenu > ul > li > a {
      padding: 40px 0 !important;
      display: block;
  }
}

.sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    border-top: 1px solid #ccc;
}

.ubermenu-responsive.ubermenu {
    bottom: 80px;
    padding: 40px 0;
    left: 0;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 174px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }

    .ubermenu-responsive.ubermenu {
        top: auto;
    }
}

/* controls sticky bar menu icon and overlay on mobile */
.sticky-bar .menu-is-active .fa-bars:before {
    content: 'X'; /* TODO: change this to be an icon from the icon font on the site */
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .25 );
    z-index: -1000;
}

body.menu-is-active:after {
    z-index: 1;
    display: block;
}

@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {

	.sticky-bar {
		/* ^ TODO: change classname to match mobile sticky bar class */

		/* prevents 'home indicator' overlap */
		padding-bottom: 34px;

		/* prevents content from being cut off in screen rounded corners */
		padding-left: 16px;
		padding-right: 16px;
	}
}

/**
 * Ubermenu Styling - Custom Styles
 */

.ubermenu ul li:before {
    display: none;
}

.ubermenu ul li a {
    color: #232020;
}

.ubermenu .ubermenu-submenu li.ubermenu-item-level-2 {
    margin-bottom: 8px;
}

.ubermenu .ubermenu-submenu li.ubermenu-item-level-2 > a span {
    font-weight: 900;
    padding: 5px;
    margin-left: -5px;
    border-radius: 3px;
}

.ubermenu .ubermenu-submenu li.ubermenu-item-level-2 > a:hover span {
    background-color:#f4f4f4;
}

.ubermenu .ubermenu-submenu li.ubermenu-item-level-3 > a:hover span {
    color: #CE182D;
}

.ubermenu-responsive ul li.ubermenu-item-has-children > a .ubermenu-sub-indicator {
    font-family: 'icomoon';
    top: 0;
    padding: 0;
    margin-top: 0 !important;
    top: 18px !important;
    right: 14px !important;
    font-weight: 900;
}

.ubermenu-responsive ul li.ubermenu-item-has-children > a .ubermenu-sub-indicator:before {
    content:"\e912";
    top: 0;
    padding: 0;
    font-style: normal;
}

.ubermenu-responsive ul li.ubermenu-has-submenu-drop.ubermenu-active .ubermenu-sub-indicator-close {
    display: block !important;
    bottom: auto;
    top: -4px !important;
    right: 14px !important;
}

.ubermenu-responsive ul li.ubermenu-has-submenu-drop .ubermenu-sub-indicator-close i {
    position: relative;
    width: auto;
    top: auto;
    margin-top: 0;
    font-style: normal;
}

.ubermenu-responsive ul li.ubermenu-item-has-children.ubermenu-has-submenu-drop .ubermenu-sub-indicator-close i:before {
    content: "\e901";
    font-family: 'icomoon';
}

.ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-flyout {
    top: 100%;
    background-color: #fff;
    margin-top: 1px;
}

.ubermenu .ubermenu-submenu li.ubermenu-item-has-children.ubermenu-item > .ubermenu-target {
    font-weight: 900;
}

@media( min-width: 1024px ) {
    .menu-is-active .ubermenu {
        border-bottom: 1px solid #E0E0E0;
    }
    .ubermenu {
        background-color: transparent;
        height: auto;
        overflow: inherit;
        border-top: 1px solid #E0E0E0;
        margin-top: 63px;
    }

    .ubermenu-responsive.ubermenu {
        padding: 8px 0;
    }

    .ubermenu {
        padding: 8px 0 9px;
        text-align: center;
    }

    .ubermenu > ul {
        display: inline-block;
    }

    .ubermenu > ul > li {
        padding: 0 15px !important;
    }

    .page-header.js-scrolled .ubermenu > ul > li { padding: 0 11px !important; }

    .ubermenu > ul > li > a,
    .ubermenu > ul > li > span {
        padding: 11px 0 !important;
    }

    .ubermenu > ul > li > a:hover,
    .ubermenu > ul > li > span:hover {
        color: #CE182D;
        cursor: pointer;
    }

    .ubermenu > ul > li.case-finder {
        padding: 0 !important;
    }

    .ubermenu > ul > li.case-finder > a {
        background-color: #CE182D;
        border-color: #CE182D;
        color: #fff;
        padding: 11px 15px !important;
        border-radius: 3px;
        font-weight: 900;
    }

    .ubermenu > ul > li.case-finder > a:hover {
        background-color: #A01323;
        border-color: #A01323;
        color: #fff;
    }

    .ubermenu ul li.ubermenu-item .ubermenu-submenu-align-full_width {
        background-color: #fff;
        border-top: 1px solid #E0E0E0;
        padding: 16px 0 20px;
        text-align: left;
        margin-top: 8px;
        display: flex;
        justify-content: flex-start;
    }

    .ubermenu .ubermenu-submenu-align-full_width > .ubermenu-column {
        float: none;
        display: inline-block;
        text-align: left;
    }

    .ubermenu-responsive ul li.ubermenu-has-submenu-drop.ubermenu-active .ubermenu-sub-indicator-close,
    .ubermenu-responsive ul li.ubermenu-item-has-children > a .ubermenu-sub-indicator {
        display: none !important;
    }

    .ubermenu.ubermenu-main ul li.ubermenu-has-submenu-drop.ubermenu-active > a {
        z-index: 21;
    }

    .ubermenu.ubermenu-main ul li.ubermenu-has-submenu-drop.ubermenu-active > a:after,
    .ubermenu.ubermenu-main ul li.ubermenu-has-submenu-drop.ubermenu-active > a:before {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 19px;
    }

    .ubermenu.ubermenu-main ul li.ubermenu-has-submenu-drop.ubermenu-active > a:after {
        bottom: -9px;
        border-color:  transparent transparent #fff transparent;
    }

    /* this border color controlls the outside, thin border */
    .ubermenu.ubermenu-main ul li.ubermenu-has-submenu-drop.ubermenu-active > a:before {
        bottom: -8px;
        border-color: transparent transparent #E0E0E0 transparent;
    }

    .ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-flyout li a {
        padding: 10px 12px;
    }

    .ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-flyout li a:hover,
    .ubermenu .ubermenu-submenu li.ubermenu-item > .ubermenu-target:hover span {
        color: #CE182D;
    }


    .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left { float: none; }

    .ubermenu .ubermenu-submenu li.ubermenu-item > .ubermenu-target {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .ubermenu .ubermenu-submenu li.ubermenu-item-has-children.ubermenu-item > .ubermenu-target span {
        border-radius: 3px;
        padding: 2px 3px;
    }

    .ubermenu .ubermenu-submenu li.ubermenu-item-has-children.ubermenu-item > .ubermenu-target:hover span {
        color: #232020;
        background-color: #d0d0d0;
    }

    .page-header.js-scrolled .scrolled-menu .ubermenu .ubermenu-target {
        font-size: 12px;
    }

}

@media( min-width: 1200px ) {
    .page-header.js-scrolled .scrolled-menu .ubermenu .ubermenu-target {
        font-size: 15px;
    }
}

@media( min-width: 1366px ) {
    .ubermenu {
        margin-top: 93px;
    }

    .page-header.js-scrolled .scrolled-menu .ubermenu .ubermenu-target {
        font-size: 18px;
    }

    .ubermenu ul li.ubermenu-item .ubermenu-submenu-align-full_width {
        justify-content: center;
    }

    .ubermenu .ubermenu-submenu-align-full_width > .ubermenu-column {
        padding: 0 44px;
    }

}



/**
 * Masthead
 */

.masthead,
.masthead-product {
    border-top: 1px solid #E0E0E0;
}

.masthead,
.masthead-content,
.masthead-product {
    position: relative;
}

.masthead-content {
    margin-bottom: 12px;
}

.masthead-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.masthead-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.masthead-text {
    position: relative;
    color: #fff;
    background-color: rgba( 0, 0, 0, .31);
    padding: 42px 0;
}

.masthead-product .page-title,
.masthead-product .woocommerce-breadcrumb {
    padding-top: 20px;
}

@media( min-width: 768px ) {
    .masthead-text {
        padding: 95px 0;
    }

    .masthead-product,
    .masthead {
        padding-top: 50px;
    }

    .masthead-product .woocommerce-breadcrumb {
        padding-top: 0;
    }
}

@media( min-width: 1200px ) {
    .masthead-text {
        padding: 79px 0 100px 0;
    }
}
/**
 * Breadcrumbs
 */


 .breadcrumbs,
 .woocommerce-breadcrumb {
    margin: 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: -30px;
    z-index: 9;
}

.woocommerce-account .breadcrumbs,
.woocommerce-page .breadcrumbs,
.woocommerce-js .breadcrumbs,
.woocommerce-breadcrumb {
    position: relative;
    bottom: 0;
}

.breadcrumbs ul,
.woocommerce-breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li::before,
.woocommerce-breadcrumb ul li::before {
    display: none;
}

.breadcrumbs ul li{
    margin: 0;
    padding: 0 13px;
    font-weight: 500;
    color: #232020;
    font-size: 16px;
    line-height: 1.1em;
    float: left;
    position: relative;
    display: none;
}

.breadcrumbs ul li:after,
.woocommerce-breadcrumb ul li:after {
    content: "\e909";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    color: #232020;
    font-size: 6px;
}


.breadcrumbs ul li:last-child::after,
.woocommerce-breadcrumb ul li:last-child::after  {
    display: none;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb {
   font-size: 16px;
}


.breadcrumbs ul li a,
.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb {
   color: #232020;
}

.breadcrumbs ul li a:hover,
.woocommerce .woocommerce-breadcrumb a:hover {
   color: #CE182D;
}

.breadcrumbs ul li:first-child {
    display: block;
}

.breadcrumb_last {
    position: relative;
    padding-left: 14px;
}

.breadcrumb_last:before {
    content: "\e912";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    color: #232020;
    font-size: 6px;
    line-height: 22px;
}

@media( min-width: 768px ) {
    .masthead-text {
        padding: 79px 0 100px 0;
    }

    .breadcrumbs ul li,
    .woocommerce-breadcrumb ul li {
        display: block;
    }

    .breadcrumbs ul li:after,
    .woocommerce-breadcrumb ul li:after {
        content: "\e912";
        left: auto;
        right: -4px;
    }

    .breadcrumbs ul li:first-child,
    .woocommerce-breadcrumb ul li:first-child {
        padding-left: 0;
    }
}

.back-wishlists i {
    vertical-align: middle;
    padding-bottom: 8px;
}

.right-header {
    position: relative;
}

.whistlist-box {
    position: absolute;
    right: -10px;
    top: calc( 100% + 22px);
    width: 523px;
    background-color: #FFFFFF;
    z-index: 999;
    box-shadow: 0 0 40px rgba(83,83,83,0.6);
    display: none;
}

.whistlist-inner {
    padding: 40px 32px;
}

.whistlist-pop-title {
    padding: 30px 0 0 0;
    border-bottom: 1px solid #E0E0E0;

}
.whistlist-pop-title h5 {
    line-height: 42px;
}
.whistlist-pop-title i {
    color: #fff;
    background-color: #CE182D;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.whistlist-inner ul {
    margin: 0;
    padding: 0;
}

.whistlist-inner ul li {
    margin: 0;
    padding: 0 0 30px 0;
    float: left;
    width: 100%;
}

.whistlist-inner ul li::before {
    display: none;
}

.whistlist-inner ul li img {
    border:  1px solid #E0E0E0;
    width: 126px;
    float: left;
}

.whislist-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 122px;
    float: right;
    width: calc(100% - 138px);
    color: #232020;
    font-size: 18px;
}

.whistlist-box:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #fff;
    border-bottom-color: #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    top: -20px;
    right: 0;
}

.whistlist-click.active a {
    color: #CE182D;
}
