/*------------------------------------*\
    
    Posts CSS
 
    Posts.................Post content for loop on blog homepage, category, search page, archives, etc.
    Sidebar...............Sidebar elements.

\*------------------------------------*/


.post-item {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
}

.post-item:first-of-type {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.post-item__heading a {
    text-decoration: none;
}

.post-item .btn,
.post-item .btn-primary {
    margin-top: 30px;
}

.post-item__meta {
    font-size: .8em;
}


@media (min-width: 1025px) {

    .post-item {
        padding-top: 50px;
        margin-top: 50px;
    }

}

/* Blog Listing Section*/

.loop-posts__content {
    padding-bottom: 20px;
}

.blog-post__tags {
    position: relative;
    background-color: #ECECEC;
    margin-bottom: 15px;
}

.blog-search {
    position: relative;
}

.blog-post__img-container {
    position: relative;
    z-index: 0;
    text-align: center;
}

.blog-post__img-container img {
    height: auto;
}

.blog-post__tag {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #CE182D;
    font-weight: 900;
    font-size: 15px;
    padding: 10px 15px;
    bottom: 45px;
    right: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-decoration: none;
}

.blog-post__title__link {
    color: #232020;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
}

.blog-post__title__link:hover {
    color: #CE182D;
}

@media ( min-width: 768px ) {
    .blog-post__tag {
        bottom: 25px;
    }
    .blog-post__title__link {
        font-size: 18px;
        line-height: 18px;
    }
}

@media ( min-width: 1024px ) {
    .loop-posts__content {
        padding-bottom: 0;
    }

    .blog-post__tag {
        bottom: 63px;
    }
    .blog-post__title__link {
        font-size: 28px;
        line-height: 28px;
    }
}


/**
 * Sidebar
 */

/* Blog Sidebar */


.loop-posts__sidebar .container {
    padding-left: 0;
    padding-right: 0;
}

.loop-posts__sidebar .blog-search {
    position: relative;
    margin-bottom: 20px;
}

.blog-search .search-box {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 0;
    background-color: transparent;
}

.blog .page-sidebar .widget {
	margin-bottom: 50px;
}

.widget_searchwp_live_search h2 {
    font-size: 22px;
}

.widget_searchwp_live_search form,
.widget_searchwp_live_search form label,
.widget_searchwp_live_search form input {
    position: relative;
}

.widget_searchwp_live_search form label {
    left: 0;
    top: 0;
}

.widget_searchwp_live_search,
.wp-block-archives-dropdown {
    margin-bottom: 12px;
}

.widget-popular-posts h3 {
    font-size: 16px;
}

.widget-popular-posts ul li {
    padding-left: 16px;
}

.widget-popular-posts ul li:before {
    background-color: transparent;
    content: "\e912";
    font-family: 'icomoon';
    width: auto;
    height: auto;
    top: 0;
    font-size: 12px;
}

.widget-popular-posts ul li a {
    color: #202123; 
    text-decoration: none;
}

.widget-popular-posts ul li a:hover {
    color: #CE182D;
}

.social-share-row li {
    padding-left: 0;
}

.social-share-row li:before {
    display: none;
}

@media ( min-width: 768px ) {
    .widget_searchwp_live_search h2 {
        font-size: 16px;
    }

    .widget-popular-posts h3 {
        font-size: 20px;
    }
}

@media ( min-width: 1024px ) {
    .widget_searchwp_live_search h2 {
        font-size: 28px;
    }

    .blog-search .search-box {
        float: none;
        width: 100%;
    }

    .widget-popular-posts h3 {
        font-size: 24px;
    }
}

/**
* FX Load More
*/

/* Load More Progress Bar */
.load-more__progress {
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    border: 0;
    border-radius: 0;
    min-width: 250px;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    height: 10px;
    border: 0;
    border-radius: 0; 
}
progress::-webkit-progress-bar {
    background-color: #ddd;
}
progress::-webkit-progress-value {
    background-color: #4a4a4a; /* TODO: Please add a branded background color for progress bar value */
}

/* Loading Indicator */
.is-loading:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #E3E3E3 #E3E3E3 transparent;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: simpleSpin 1.5s linear infinite;
    animation: simpleSpin 1.5s linear infinite;
}

/* Load More Button */
.load-more__btn {
    border: 0;
    display: block;
    margin-top: 20px;
}

.load-more__btn.is-loading {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.load-more__btn.is-loading:before {
    width: 20px;
    height: 20px;
}

/* Placeholder Space */
.placeholder-block {
    position: relative;
    display: flex;
}

.placeholder-block__inner {
    flex-grow: 1;
    background-color: #fafafa;
}

.placeholder-block.is-loading:before {
    width: 50px;
    height: 50px;
}

@-webkit-keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}


/* Search Results */
.search-result {
    text-decoration: none;
    color: #202123;
    margin-bottom: 12px;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.search-result__title,
.search-result__img-container {
    margin-bottom: 16px;
}

.search-result__img-container img {
    max-width: 600px;
    height: auto;
}

.search-result__excerpt {
    margin-bottom: 20px;
}

.tab-accordion__tab {
    font-weight: 900;
}


@media ( min-width: 768px ) {
    .search-result,
    .search-result__img-container {
        margin-bottom: 16px;
    }
}

@media ( min-width: 1024px ) {
    .search-result,
    .search-result__img-container {
        margin-bottom: 24px;
    }
}

/* AJAX Search */
.searchwp-live-search-result a {
    color: #202123;
    text-decoration: none;
}

.searchwp-live-search-result a:hover {
    color: #CE182D;
    text-decoration: none;
}