.choices {
    text-align: left;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 14px;
    padding-left: 14px;
}

.choices__list--dropdown .choices__item--selectable::after {
    display: none;
}

.choices__inner {
    font-size: 16px;
    color: #8A8E8F;
    height: 55px;
    border-color: #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
    border-radius: 0;
    padding: 12.5px 12.5px 3.75px;
}
.is-focused .choices__inner,
.is-open .choices__inner {
    border-bottom-color: #232020;
    color: #232020;
}

.choices[data-type*="select-one"]::after {
    content: '\e900';
    font-family: 'icomoon';
    height: 100%;
    width: 55px;
    border-width: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    pointer-events: none;
    background-color: #C9CFCF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}

.choices[data-type*='select-one'].is-open:after {
    margin-top: 0;
    background-color: #232020;
}

.choices[data-type*="select-one"] .choices__input  {
    display: none !important;
}