/*------------------------------------*\
    
    Hide/Show Text Area - Global styling for all hide/show text

    This method is CSS heavy and light on JS, which is important for good SEO and CWV results
    Find the code snippet here: https://webfxcodelibrary.webpagefxstage.com/#intermediate_cssshowhidetext

\*------------------------------------*/

  
.read-more {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #CE182D;
    border: none;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px solid #CE182D;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
    background-color: transparent;
}
  
.read-more p {
    margin-top: 0.5rem;
}
  
.read-more.is-expanded {
    -webkit-line-clamp: initial;
}
  
.btn--hide-show {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .read-more {
        display: none;
    }
}