.wysiwyg {
    padding-top: 60px;
}

.wysiwyg h2 span {
    font-size: 16px;
    display: block;
    padding-bottom: 10px;
    text-transform: uppercase;
}

table {
    width: 100%;
    margin: 25px 0;
}

table th {
    font-size: 16px;
    font-weight: 900;
    color: #232020;
}

th, td {
    text-align: center;
    border: 1px solid #C9CFCF;
    padding: 20px 0;
}

th:first-child, td:first-child {
    border: none;
}

tbody th {
    text-align: left;
}

tbody td {
    font-size: 16px;
}


@media (min-width: 768px) {
    .wysiwyg {
        padding-top: 70px;
    }

}

@media (min-width: 1025px) {
    table th {
        font-size: 20px;
    }

}

.table-product {
    max-width: 858px;
}

.product-video {
    max-width: 812px;
    padding-bottom: 15px;
}

.product-video .fluid-width-video-wrapper {
    height: 550px;
}

.accordion-list-item .read-more {
    display: block;
}

.table-product {
    padding-bottom: 30px;
}

.accordion-content .testimonial-content{
    margin-bottom: 15px;
}