.cat-content {
    display: none;
    padding-bottom: 10px;
}

.cat-title {
    border-top: 1px solid #E0E0E0;
    padding: 18px 0;
    padding-right: 55px;
    position: relative;
    cursor: pointer;
}

.cat-title::after {
    content: '\e90f';
    font-family: 'icomoon';
    right: 0;
    top: 18px;
    position: absolute;
    font-size: 14px;
}

.cat-list {
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0 0 0;
}

.open .cat-title {
    color: #CE182D;
}

.open .cat-title::after {
    content: '\e90e';
}

@media (min-width: 768px) {
    .accordion-section {
        padding: 90px 0 0 0;
    }

    .cat-title {
        padding: 22px 0;
    }


    .cat-title::after {
        font-size: 20px;
        top: 22px;
    }
}

@media (min-width: 1200px) {
    .cat-section {
        padding: 125px 0 0 0;
    }

    .cat-list {
        padding: 30px 0 0 0;
    }
}


.page-category .cat-title {
    border-top: 1px solid #E0E0E0;
    padding: 18px 0;
    padding-right: 55px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: 900;
    color: #232020
}

.page-category .open .cat-title {
    color: #232020;
}

.page-category .cat-list-item:first-child.accordion-title {
    border-top: none;
}

.page-category .cat-title::after {
    content: '\e900';
    font-family: 'icomoon';
    right: 0;
    top: 20px;
    position: absolute;
    font-size: 12px;
}

.page-category .open .cat-title::after {
    transform: rotate(-180deg);
    content: '\e900';
}
