.innerproduct-section {
    padding-top: 85px;
}

.product-thumb-item {
    padding: 8px;
}

.product-border {
    border: 1px solid #C9CFCF;
    padding: 8px;
}

.product-big-item {
    border: 1px solid #C9CFCF;
    padding: 30px 0;
}

.product-big {
    padding-bottom: 30px;
}

.product-big ul.slick-dots {
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;
}

.innerproduct-section .slick-dots li button {
    background-color: #232020;
}

.innerproduct-section .slick-dots li.slick-active button {
    background-color: #ce182d;
}

@media (min-width: 768px) {

    .product-thumb {
        float: left;
        width: 125px;
    }

    .product-thumb .slick-slide {
        display: block;
        width: 100% !important;
    }

    .product-big {
        float: right;
        width: calc(100% - 150px);
    }

    .product-thumb-item {
        padding: 0 2px 16px 2px;
    }

    .product-big-item {
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .innerproduct-section {
        padding-top: 125px;
    }
}