.page-category {
    padding: 60px 0;
    position: relative;
}

.filter-text {
    color: #8A8E8F;
    font-size: 16px;
}

.category-listings {
    padding-top: 40px;
}

.category-result-count {
    color: #8A8E8F;
    font-size: 16px;
}

.category-search-box {
    background-color: #FFFFFF;
    position: relative;
    height: 60px;
    border-radius: 0;
    margin: 10px 0;
    max-width: 100%;
    border: 1px solid #C9CFCF;
    border-bottom: 2px solid #C9CFCF;
}

.category-search-box input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 15px 0 42px;
    font-size: 16px;
    line-height: 20px;
    color: #232020;
    font-weight: 400;
}

.category-search-box button[type="submit"] {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 0;
    color:#262626;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 21px;
    width: 36px;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.category-search-box button[type="submit"]:before {
    display: none;
}

.category-search-box button[type="submit"]:hover {
    color: #CE182D;
}

.cat-sorting {
    padding: 10px 0 20px 0;
    position: relative;
    z-index: 9;
    color: #8A8E8F;
    font-size: 16px;
    line-height: 26px;
    float: right;
    width: 100%;
    z-index: 99;
}

.cat-sorting span {
    float: left;
    padding-right: 5px;
}


.cat-sorting form  {
    width: 120px;
    float: left;
}

.cat-sorting .choices__inner {
    border: none;
    padding: 0 !important;
    height: 26px;
    min-height: 26px;
    background: none;
    color: #232020;
    font-weight: 900;
}

.cat-sorting .choices__list--single {
    padding: 0;
}

.cat-sorting .choices[data-type*="select-one"]::after {
    width: 25px;
    background-color: transparent;
    font-size: 12px;
    color: #232020;
}
@media (min-width: 768px) {
    .category-result-count {
        float: left;
        padding-top: 13px;
    }

    .cat-sorting {
        width: auto;
    }
}
@media (min-width: 1025px) {
    .page-category {
        padding: 80px 0 0 0;
    }

    .category-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .category-sidebar {
        width: 260px;
    }

    .category-listings {
        width: calc(100% - 260px);
        padding-left: 60px;
    }

}

@media (min-width: 1600px) {

    .category-listings {
        padding-left: 150px;
    }

}


.category-main {
    padding-bottom: 40px;
}

.category-img-box { 
    border: 1px solid #C9CFCF;
    position: relative;
    padding: 40px 0;
}

.category-img-box img { 
    width: 184px;
    margin: 0 auto;
    display: block;
}

.category-img-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.category-img-box a i  {
    color: #232020;
    text-decoration: none;
}

.category-description p {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 20px 0;
    color: #232020;
}

.category-description p span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: #232020;
}

.cat-desc {
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #8A8E8F;
}

.cat-price {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 10px 0;
    color: #232020;
}

.cat-bttn .btn {
    margin-bottom: 15px;
}

.compare {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 2px 0;
    color: #232020;
    border-bottom: 2px solid #232020;
    display: inline-block;
    cursor: pointer;
}

.compare a {
    color: #232020;
    text-decoration: none;
}


.category-box-bttn {
    display: none;
}


.category-img-box a i.red-icon {
    color: #fff;
    background-color: #CE182D;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7em;
}

@media (min-width: 768px) {

    .category-img-box img { 
        width: 280px;
    }

    .category-description p,
    .cat-price {
        font-size: 22px;
    }

    .category-description p span {
        font-size: 15px;
    }

    .category-description {
        position: relative;
        height: 292px;
    }

    .cat-bttn {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .category-main {
        padding-bottom: 50px;
    }
    
    .category-listings {
        padding-top: 0;
    }

}


@media (min-width: 1200px) {

    .category-img-box img {
        max-width: 100%;
        width: 280px;
    }


    .category-img:after {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.12);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .category-main:hover .category-img-box img {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .category-main:hover .category-img:after {
        opacity: 1;
    }

    

    .category-main:hover .category-description p {
        color: #CE182D;
    }

    .category-box-bttn {
        position: relative;
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 48px;
        top: 50%;
        margin-top: -24px;
    }

    .category-box-bttn .btn-secondary {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
    }

    .category-main:hover .category-box-bttn {
        display: block;
    }

    .category-img-box i {
        z-index: 9;
        right: 20px;
        top: 20px;
        background-color: #fff;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.7em;
    }

    .compare:hover {
        border-color: #CE182D;
    }
    .compare:hover a{
        color: #CE182D;
    }


}

.loading-area {
    text-align: center;
    margin-top: 30px;
}

.loading-area p {
    padding-bottom: 10px;
    color: #8A8E8F;
}

.loading-bar {
    position: relative;
    max-width: 300px;
    margin: 0 auto 25px;
    height: 6px;
    background: #ECECEC;
}

.loading-bar-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: #232020;
}

.loading-area .btn-secondary {
    background: #232020;
    color: #fff;
}


.loading-area .btn-secondary:hover {
    background: #CE182D;
    border-color: #CE182D;
}

/* Range Bar */




.slider {
	position: relative;
	height: 5px;
	margin-top: 1.25rem;
	margin-bottom: 2.25rem;
	background-color: #ECECEC;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	touch-action: none
}

.slider-fill {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	max-width: 100%;
	height: 5px;
	background-color: #232020;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.slider-fill.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider-handle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	left: 0;
	z-index: 1;
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #232020;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	border-radius: 50%
}

[data-whatinput=mouse] .slider-handle {
	outline: 0
}

.slider-handle:hover {
	background-color: #232020
}

.slider-handle.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider.disabled,
.slider[disabled] {
	opacity: .25;
	cursor: not-allowed
}

.filter-range-input input {
  border: none;
    width: 30px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  color: #8A8E8F;
  padding: 0;
  text-align: right;
}

.filter-range-input {
    color: #8A8E8F;
    font-size: 16px;
}

.filter-title {
  float: left;
}

.filter-range-input {
  float: right;
}