.page-wishlist {
    padding: 60px 0;
    position: relative;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive table {
    width: 680px;
    margin: 0 0;
}

.table-responsive table thead {
    background-color:#ECECEC;
    color: #8A8E8F;
}

.table-responsive table thead th {
    font-size: 14px;
    font-weight: 500;
    color: #8A8E8F;
    border: none;
    padding: 10px 15px;
}

.table-responsive th:first-child, td:first-child {
    border: inherit;
    text-align: left;
}

.table-responsive table tbody tr {
    border-top: 1px solid #E0E0E0;
}

.table-responsive table tbody td {
    font-size: 18px;
    font-weight: 500;
    color: #232020;
    border: none;
    padding: 17px 15px;
}

.table-responsive table tbody h5 {
    color: #232020;
    padding: 0 0;
}

.wishlist-table {
    margin-top: 22px;
}

.wishlist-sidebar {
    margin-top: 50px;
}

@media (min-width: 768px) {

    .table-responsive table {
        width: 100%;
        margin: 0 0;
    }

    .table-responsive {
        overflow-x: visible;
    }

    .table-responsive table tbody h5 {
        font-size: 22px;
    }

}

@media (min-width: 1300px) {
    .wishlist-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .wishlist-sidebar {
        width: 530px;
    }

    .wishlist-information {
        width: calc(100% - 530px);
        padding-right: 60px;
    }

    .wishlist-top-info .btn {
        padding: 18px 28px;
        margin-top: 30px;
    }

    .page-wishlist {
        padding: 80px 0 0 0;
    }

   

}

@media (min-width: 1600px) {
    .table-responsive table thead th {
        padding: 10px 26px;
    }
    
    .table-responsive table tbody td {
        padding: 17px 26px;
    }

    .table-responsive table tbody h5 {
        font-size: 28px;
    }

    .wishlist-information {
        padding-right: 150px;
    }
}


/* individual-wishlist */

.individual-wishlist h2 {
    padding: 0 0 4px;
}

.individual-wishlist .table-responsive table {
    width: 750px;
    margin: 0 0;
}

.back-wishlists i {
    vertical-align: middle;
    padding-bottom: 8px;
}

.wishlist-items {
    margin-top: 30px;
}

.wishlist-items ul {
    margin: 0;
    padding: 0;
}

.wishlist-items ul li {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}

.wishlist-items ul li::before {
    display: none;
}

.wishlist-items ul li a {
    margin: 0;
    padding: 8px 12px;
    display: block;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 900;
    color: #232020;
    text-decoration: none;
}

.wishlist-items ul li a:hover,
.wishlist-items ul li.active a {
    background: #ECECEC;
    color: #232020;
}

.wishlist-products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.wishlist-products-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #CE182D;
    font-size: 23px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    line-height: 2em;
    margin-top: 15px;
}

.wishlist-products-image {
    border: 1px solid #C9CFCF;
    padding: 10px;
    margin: 0 10px;
}

.wishlist-products-image img {
    max-width: 50px;
}

.wishlist-products-info {
    width: 140px;
    font-size: 15px;
    color: #232020;
    font-weight: 900;
}

.individual-wishlist .wishlist-table .btn{
    margin: 5px 0;
    width: 208px;
}

.individual-wishlist .table-responsive table tbody td {
    vertical-align: top;
}

@media (min-width: 768px) {
    .individual-wishlist .table-responsive table {
        width: 100%;
    }

    .wishlist-products-info {
        width: 126px;
    }
}

@media (min-width: 1600px) {
    .wishlist-products-image img {
        max-width: 110px;
    }

    .wishlist-products-image {
        padding: 3px;
        margin: 0 15px;
    }

    .wishlist-products-info {
        width: 200px;
        font-size: 20px;
    }

    .wishlist-products-icon {
        margin-top: 40px;
    }
}







