.page-compare {
    padding: 60px 0 0 0;
    position: relative;
}

.compare-top-info h2 {
    padding: 0 0 4px;
}

.compare-main {
    padding-top: 40px;
}

.compare-img-box { 
    border: 1px solid #C9CFCF;
    position: relative;
    padding: 40px 0;
}

.compare-img-box img { 
    width: 184px;
    margin: 0 auto;
    display: block;
}

.compare-img-box i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}


.compare-description p {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 20px 0;
    color: #232020;
}

.compare-description p span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: #232020;
}

.compare {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 2px 0;
    color: #232020;
    border-bottom: 2px solid #232020;
    display: inline-block;
    cursor: pointer;
}

.compare a {
    color: #232020;
    text-decoration: none;
}

.com-bttn {
    padding-bottom: 15px;
}

.compare-table-section {
    padding-top: 20px;
}

.table-compare table {
    border-bottom: 1px solid #C9CFCF
}
.table-compare td,
.table-compare tr td:first-child {
    border: none;
    border-top: 1px solid #C9CFCF;
    padding: 17px 0;
    text-align: left;
    width: 33.33%;
    font-size: 14px;
}


@media (min-width: 768px) {

    .compare-img-box img { 
        width: 280px;
    }

    .compare-description p {
        font-size: 22px;
    }

    .compare-description p span {
        font-size: 15px;
    }

    .compare-description {
        position: relative;
    }

    .table-compare td,
    .table-compare tr td:first-child {
        font-size: 16px;
    }

}


@media (min-width: 1200px) {
    .page-compare {
        padding: 80px 0 0 0;
    }

    .compare-img-box img {
        max-width: 100%;
        width: 533px;
    }

    .compare:hover {
        border-color: #CE182D;
    }
    .compare:hover a{
        color: #CE182D;
    }
}

